adf-ucb-dw-subsidio-18af/ARMTemplateForFactory.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Nombre de instancia de Data Factory",
			"defaultValue": "adf-ucb-dw-subsidio-18af"
		},
		"LS_Storage_Subsidio_connectionString": {
			"type": "secureString",
			"metadata": "Cadena protegida para \"connectionString\"de \"LS_Storage_Subsidio\""
		},
		"dw_subsidio_password": {
			"type": "secureString",
			"metadata": "Cadena protegida para \"password\"de \"dw_subsidio\""
		},
		"dw_subsidio_properties_typeProperties_server": {
			"type": "string",
			"defaultValue": "sql-ucb-sisger-dwsubsidio-18af.database.windows.net"
		},
		"dw_subsidio_properties_typeProperties_database": {
			"type": "string",
			"defaultValue": "dw_subsidio"
		},
		"dw_subsidio_properties_typeProperties_userName": {
			"type": "string",
			"defaultValue": "adminsubsidio"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/hechos')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Data flow1",
						"type": "ExecuteDataFlow",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataflow": {
								"referenceName": "DF_Gold_Fact_Atencion_Clinica",
								"type": "DataFlowReference",
								"parameters": {},
								"datasetParameters": {
									"source1": {},
									"source2": {},
									"source3": {},
									"source4": {},
									"source5": {},
									"source6": {},
									"source7": {},
									"sink1": {}
								}
							},
							"staging": {},
							"compute": {
								"coreCount": 8,
								"computeType": "General"
							},
							"traceLevel": "Fine"
						}
					},
					{
						"name": "Data flow2",
						"type": "ExecuteDataFlow",
						"dependsOn": [
							{
								"activity": "Data flow1",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataflow": {
								"referenceName": "DF_Gold_Fact_Beneficios_Entregados",
								"type": "DataFlowReference",
								"parameters": {},
								"datasetParameters": {
									"source1": {},
									"source2": {},
									"source3": {},
									"sink1": {}
								}
							},
							"staging": {},
							"compute": {
								"coreCount": 8,
								"computeType": "General"
							},
							"traceLevel": "Fine"
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/dataflows/DF_Gold_Fact_Atencion_Clinica')]",
				"[concat(variables('factoryId'), '/dataflows/DF_Gold_Fact_Beneficios_Entregados')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/pipeline1_temporal')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "SEGIP",
						"type": "ExecuteDataFlow",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataflow": {
								"referenceName": "DF_Silver_SEGIP_Personas",
								"type": "DataFlowReference",
								"parameters": {},
								"datasetParameters": {
									"source1": {},
									"sink1": {}
								}
							},
							"staging": {},
							"compute": {
								"coreCount": 8,
								"computeType": "General"
							},
							"traceLevel": "Fine"
						}
					},
					{
						"name": "BJA",
						"type": "ExecuteDataFlow",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataflow": {
								"referenceName": "DF_Silver_BJA_Establecimientos",
								"type": "DataFlowReference",
								"parameters": {},
								"datasetParameters": {
									"source1": {},
									"sink1": {}
								}
							},
							"staging": {},
							"compute": {
								"coreCount": 8,
								"computeType": "General"
							},
							"traceLevel": "Fine"
						}
					},
					{
						"name": "Data flow1",
						"type": "ExecuteDataFlow",
						"dependsOn": [
							{
								"activity": "BJA",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataflow": {
								"referenceName": "DF_Silver_BJA_Inscripciones",
								"type": "DataFlowReference",
								"parameters": {},
								"datasetParameters": {
									"source1": {},
									"sink1": {}
								}
							},
							"staging": {},
							"compute": {
								"coreCount": 8,
								"computeType": "General"
							},
							"traceLevel": "Fine"
						}
					},
					{
						"name": "Data flow2",
						"type": "ExecuteDataFlow",
						"dependsOn": [
							{
								"activity": "Data flow1",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataflow": {
								"referenceName": "DF_Silver_BJA_ControlesPrenatales",
								"type": "DataFlowReference",
								"parameters": {},
								"datasetParameters": {
									"source1": {},
									"sink1": {}
								}
							},
							"staging": {},
							"compute": {
								"coreCount": 8,
								"computeType": "General"
							},
							"traceLevel": "Fine"
						}
					},
					{
						"name": "Data flow3",
						"type": "ExecuteDataFlow",
						"dependsOn": [
							{
								"activity": "Data flow2",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataflow": {
								"referenceName": "DF_Silver_BJA_Partos",
								"type": "DataFlowReference",
								"parameters": {},
								"datasetParameters": {
									"source1": {},
									"sink1": {}
								}
							},
							"staging": {},
							"compute": {
								"coreCount": 8,
								"computeType": "General"
							},
							"traceLevel": "Fine"
						}
					},
					{
						"name": "Data flow4",
						"type": "ExecuteDataFlow",
						"dependsOn": [
							{
								"activity": "Data flow3",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataflow": {
								"referenceName": "DF_Silver_BJA_ControlesPediatricos",
								"type": "DataFlowReference",
								"parameters": {},
								"datasetParameters": {
									"source1": {},
									"sink1": {}
								}
							},
							"staging": {},
							"compute": {
								"coreCount": 8,
								"computeType": "General"
							},
							"traceLevel": "Fine"
						}
					},
					{
						"name": "Data flow5",
						"type": "ExecuteDataFlow",
						"dependsOn": [
							{
								"activity": "Data flow4",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataflow": {
								"referenceName": "DF_Silver_BJA_Pagos",
								"type": "DataFlowReference",
								"parameters": {},
								"datasetParameters": {
									"source1": {},
									"sink1": {}
								}
							},
							"staging": {},
							"compute": {
								"coreCount": 8,
								"computeType": "General"
							},
							"traceLevel": "Fine"
						}
					},
					{
						"name": "SUP",
						"type": "ExecuteDataFlow",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataflow": {
								"referenceName": "DF_Silver_SUP_Establecimientos",
								"type": "DataFlowReference",
								"parameters": {},
								"datasetParameters": {
									"source1": {},
									"sink1": {}
								}
							},
							"staging": {},
							"compute": {
								"coreCount": 8,
								"computeType": "General"
							},
							"traceLevel": "Fine"
						}
					},
					{
						"name": "Data flow6",
						"type": "ExecuteDataFlow",
						"dependsOn": [
							{
								"activity": "SUP",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataflow": {
								"referenceName": "DF_Silver_SUP_Inscripciones",
								"type": "DataFlowReference",
								"parameters": {},
								"datasetParameters": {
									"source1": {},
									"sink1": {}
								}
							},
							"staging": {},
							"compute": {
								"coreCount": 8,
								"computeType": "General"
							},
							"traceLevel": "Fine"
						}
					},
					{
						"name": "Data flow7",
						"type": "ExecuteDataFlow",
						"dependsOn": [
							{
								"activity": "Data flow6",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataflow": {
								"referenceName": "DF_Silver_SUP_CatalogoPaquetes",
								"type": "DataFlowReference",
								"parameters": {},
								"datasetParameters": {
									"source1": {},
									"sink1": {}
								}
							},
							"staging": {},
							"compute": {
								"coreCount": 8,
								"computeType": "General"
							},
							"traceLevel": "Fine"
						}
					},
					{
						"name": "Data flow8",
						"type": "ExecuteDataFlow",
						"dependsOn": [
							{
								"activity": "Data flow7",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataflow": {
								"referenceName": "DF_Silver_SUP_Controles",
								"type": "DataFlowReference",
								"parameters": {},
								"datasetParameters": {
									"source1": {},
									"sink1": {}
								}
							},
							"staging": {},
							"compute": {
								"coreCount": 8,
								"computeType": "General"
							},
							"traceLevel": "Fine"
						}
					},
					{
						"name": "Data flow9",
						"type": "ExecuteDataFlow",
						"dependsOn": [
							{
								"activity": "Data flow8",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataflow": {
								"referenceName": "DF_Silver_SUP_Boletas",
								"type": "DataFlowReference",
								"parameters": {},
								"datasetParameters": {
									"source1": {},
									"sink1": {}
								}
							},
							"staging": {},
							"compute": {
								"coreCount": 8,
								"computeType": "General"
							},
							"traceLevel": "Fine"
						}
					},
					{
						"name": "Data flow10",
						"type": "ExecuteDataFlow",
						"dependsOn": [
							{
								"activity": "Data flow9",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataflow": {
								"referenceName": "DF_Silver_SUP_Entregas",
								"type": "DataFlowReference",
								"parameters": {},
								"datasetParameters": {
									"source1": {},
									"sink1": {}
								}
							},
							"staging": {},
							"compute": {
								"coreCount": 8,
								"computeType": "General"
							},
							"traceLevel": "Fine"
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/dataflows/DF_Silver_SEGIP_Personas')]",
				"[concat(variables('factoryId'), '/dataflows/DF_Silver_BJA_Establecimientos')]",
				"[concat(variables('factoryId'), '/dataflows/DF_Silver_BJA_Inscripciones')]",
				"[concat(variables('factoryId'), '/dataflows/DF_Silver_BJA_ControlesPrenatales')]",
				"[concat(variables('factoryId'), '/dataflows/DF_Silver_BJA_Partos')]",
				"[concat(variables('factoryId'), '/dataflows/DF_Silver_BJA_ControlesPediatricos')]",
				"[concat(variables('factoryId'), '/dataflows/DF_Silver_BJA_Pagos')]",
				"[concat(variables('factoryId'), '/dataflows/DF_Silver_SUP_Establecimientos')]",
				"[concat(variables('factoryId'), '/dataflows/DF_Silver_SUP_Inscripciones')]",
				"[concat(variables('factoryId'), '/dataflows/DF_Silver_SUP_CatalogoPaquetes')]",
				"[concat(variables('factoryId'), '/dataflows/DF_Silver_SUP_Controles')]",
				"[concat(variables('factoryId'), '/dataflows/DF_Silver_SUP_Boletas')]",
				"[concat(variables('factoryId'), '/dataflows/DF_Silver_SUP_Entregas')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/pipelineGold')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Data flow1",
						"type": "ExecuteDataFlow",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataflow": {
								"referenceName": "DF_Gold_Dim_Beneficiaria",
								"type": "DataFlowReference",
								"parameters": {},
								"datasetParameters": {
									"source1": {},
									"sink1": {}
								}
							},
							"staging": {},
							"compute": {
								"coreCount": 8,
								"computeType": "General"
							},
							"traceLevel": "Fine"
						}
					},
					{
						"name": "Data flow2",
						"type": "ExecuteDataFlow",
						"dependsOn": [
							{
								"activity": "Data flow1",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataflow": {
								"referenceName": "DF_Gold_Dim_Paquete",
								"type": "DataFlowReference",
								"parameters": {},
								"datasetParameters": {
									"source1": {},
									"sink1": {}
								}
							},
							"staging": {},
							"compute": {
								"coreCount": 8,
								"computeType": "General"
							},
							"traceLevel": "Fine"
						}
					},
					{
						"name": "Data flow3",
						"type": "ExecuteDataFlow",
						"dependsOn": [
							{
								"activity": "Data flow2",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataflow": {
								"referenceName": "DF_Gold_Dim_Establecimiento",
								"type": "DataFlowReference",
								"parameters": {},
								"datasetParameters": {
									"source": {},
									"source1": {},
									"sink1": {}
								}
							},
							"staging": {},
							"compute": {
								"coreCount": 8,
								"computeType": "General"
							},
							"traceLevel": "Fine"
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/dataflows/DF_Gold_Dim_Beneficiaria')]",
				"[concat(variables('factoryId'), '/dataflows/DF_Gold_Dim_Paquete')]",
				"[concat(variables('factoryId'), '/dataflows/DF_Gold_Dim_Establecimiento')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/DS_Bronze_BJA_ControlesPediatricos')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "LS_Storage_Subsidio",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "bronze/BJA"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"fileName": "controles-pediatricos.csv",
						"folderPath": "BJA",
						"container": "bronze"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": [
					{
						"name": "control_pediatrico_id",
						"type": "String"
					},
					{
						"name": "ci_nino",
						"type": "String"
					},
					{
						"name": "ci_madre",
						"type": "String"
					},
					{
						"name": "establecimiento_id",
						"type": "String"
					},
					{
						"name": "nro_control",
						"type": "String"
					},
					{
						"name": "fecha_control",
						"type": "String"
					},
					{
						"name": "peso_nino_kg",
						"type": "String"
					},
					{
						"name": "talla_nino_cm",
						"type": "String"
					},
					{
						"name": "vacuna_aplicada",
						"type": "String"
					},
					{
						"name": "resultado",
						"type": "String"
					}
				]
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/LS_Storage_Subsidio')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/DS_Bronze_BJA_ControlesPrenatales')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "LS_Storage_Subsidio",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "bronze/BJA"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"fileName": "controles-prenatales.csv",
						"folderPath": "BJA",
						"container": "bronze"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": [
					{
						"name": "control_prenatal_id",
						"type": "String"
					},
					{
						"name": "ci_beneficiaria",
						"type": "String"
					},
					{
						"name": "establecimiento_id",
						"type": "String"
					},
					{
						"name": "nro_control",
						"type": "String"
					},
					{
						"name": "fecha_control",
						"type": "String"
					},
					{
						"name": "semana_gestacion",
						"type": "String"
					},
					{
						"name": "peso_madre_kg",
						"type": "String"
					},
					{
						"name": "presion_arterial",
						"type": "String"
					},
					{
						"name": "resultado",
						"type": "String"
					}
				]
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/LS_Storage_Subsidio')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/DS_Bronze_BJA_Establecimientos')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "LS_Storage_Subsidio",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "bronze/BJA"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"fileName": "establecimientos.csv",
						"folderPath": "BJA",
						"container": "bronze"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": [
					{
						"name": "establecimiento_id",
						"type": "String"
					},
					{
						"name": "codigo_snis",
						"type": "String"
					},
					{
						"name": "nombre",
						"type": "String"
					},
					{
						"name": "tipo",
						"type": "String"
					},
					{
						"name": "nivel_atencion",
						"type": "String"
					},
					{
						"name": "municipio",
						"type": "String"
					},
					{
						"name": "departamento",
						"type": "String"
					},
					{
						"name": "red_salud",
						"type": "String"
					},
					{
						"name": "estado",
						"type": "String"
					}
				]
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/LS_Storage_Subsidio')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/DS_Bronze_BJA_Inscripciones')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "LS_Storage_Subsidio",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "bronze/BJA"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"fileName": "inscripciones.csv",
						"folderPath": "BJA",
						"container": "bronze"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": [
					{
						"name": "inscripcion_id",
						"type": "String"
					},
					{
						"name": "ci_beneficiaria",
						"type": "String"
					},
					{
						"name": "establecimiento_id",
						"type": "String"
					},
					{
						"name": "fecha_inscripcion",
						"type": "String"
					},
					{
						"name": "semana_gestacion",
						"type": "String"
					},
					{
						"name": "estado",
						"type": "String"
					}
				]
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/LS_Storage_Subsidio')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/DS_Bronze_BJA_Pagos')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "LS_Storage_Subsidio",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "bronze/BJA"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"fileName": "pagos.csv",
						"folderPath": "BJA",
						"container": "bronze"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": [
					{
						"name": "pago_id",
						"type": "String"
					},
					{
						"name": "ci_beneficiaria",
						"type": "String"
					},
					{
						"name": "concepto_pago",
						"type": "String"
					},
					{
						"name": "monto_bs",
						"type": "String"
					},
					{
						"name": "fecha_pago",
						"type": "String"
					},
					{
						"name": "estado_pago",
						"type": "String"
					},
					{
						"name": "canal_pago",
						"type": "String"
					},
					{
						"name": "nro_comprobante",
						"type": "String"
					}
				]
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/LS_Storage_Subsidio')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/DS_Bronze_BJA_Partos')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "LS_Storage_Subsidio",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "bronze/BJA"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"fileName": "partos.csv",
						"folderPath": "BJA",
						"container": "bronze"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": [
					{
						"name": "parto_id",
						"type": "String"
					},
					{
						"name": "ci_madre",
						"type": "String"
					},
					{
						"name": "ci_recien_nacido",
						"type": "String"
					},
					{
						"name": "establecimiento_id",
						"type": "String"
					},
					{
						"name": "fecha_parto",
						"type": "String"
					},
					{
						"name": "tipo_parto",
						"type": "String"
					},
					{
						"name": "peso_nacimiento_kg",
						"type": "String"
					},
					{
						"name": "talla_nacimiento_cm",
						"type": "String"
					}
				]
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/LS_Storage_Subsidio')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/DS_Bronze_SEGIP_Personas')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "LS_Storage_Subsidio",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "bronze/SEGIP"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"fileName": "personas.csv",
						"folderPath": "SEGIP",
						"container": "bronze"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": [
					{
						"name": "ci",
						"type": "String"
					},
					{
						"name": "nombres",
						"type": "String"
					},
					{
						"name": "apellido_paterno",
						"type": "String"
					},
					{
						"name": "apellido_materno",
						"type": "String"
					},
					{
						"name": "fecha_nacimiento",
						"type": "String"
					},
					{
						"name": "genero",
						"type": "String"
					},
					{
						"name": "estado_civil",
						"type": "String"
					},
					{
						"name": "ci_conyuge",
						"type": "String"
					},
					{
						"name": "numero_hijos",
						"type": "String"
					},
					{
						"name": "ci_padre",
						"type": "String"
					},
					{
						"name": "ci_madre",
						"type": "String"
					},
					{
						"name": "profesion",
						"type": "String"
					},
					{
						"name": "nivel_estudios",
						"type": "String"
					},
					{
						"name": "municipio_residencia",
						"type": "String"
					},
					{
						"name": "fecha_emision",
						"type": "String"
					}
				]
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/LS_Storage_Subsidio')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/DS_Bronze_SUP_Boletas')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "LS_Storage_Subsidio",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "bronze/SUP"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"fileName": "boletas.csv",
						"folderPath": "SUP",
						"container": "bronze"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": [
					{
						"name": "boleta_id",
						"type": "String"
					},
					{
						"name": "control_id",
						"type": "String"
					},
					{
						"name": "ci_beneficiaria",
						"type": "String"
					},
					{
						"name": "nro_boleta",
						"type": "String"
					},
					{
						"name": "fecha_emision",
						"type": "String"
					},
					{
						"name": "estado",
						"type": "String"
					}
				]
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/LS_Storage_Subsidio')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/DS_Bronze_SUP_CatalogoPaquetes')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "LS_Storage_Subsidio",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "bronze/SUP"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"fileName": "catalogo-paquetes.csv",
						"folderPath": "SUP",
						"container": "bronze"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": [
					{
						"name": "paquete_id",
						"type": "String"
					},
					{
						"name": "nombre",
						"type": "String"
					},
					{
						"name": "contenido",
						"type": "String"
					},
					{
						"name": "peso_estandar_kg",
						"type": "String"
					},
					{
						"name": "costo_estimado_bs",
						"type": "String"
					}
				]
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/LS_Storage_Subsidio')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/DS_Bronze_SUP_Controles')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "LS_Storage_Subsidio",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "bronze/SUP"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"fileName": "controles.csv",
						"folderPath": "SUP",
						"container": "bronze"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": [
					{
						"name": "control_id",
						"type": "String"
					},
					{
						"name": "ci_beneficiaria",
						"type": "String"
					},
					{
						"name": "establecimiento_id",
						"type": "String"
					},
					{
						"name": "nro_control",
						"type": "String"
					},
					{
						"name": "fecha_control",
						"type": "String"
					},
					{
						"name": "semana_gestacion",
						"type": "String"
					},
					{
						"name": "peso_madre_kg",
						"type": "String"
					},
					{
						"name": "presion_arterial",
						"type": "String"
					}
				]
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/LS_Storage_Subsidio')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/DS_Bronze_SUP_Entregas')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "LS_Storage_Subsidio",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "bronze/SUP"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"fileName": "entregas.csv",
						"folderPath": "SUP",
						"container": "bronze"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": [
					{
						"name": "entrega_id",
						"type": "String"
					},
					{
						"name": "boleta_id",
						"type": "String"
					},
					{
						"name": "ci_beneficiaria",
						"type": "String"
					},
					{
						"name": "establecimiento_id",
						"type": "String"
					},
					{
						"name": "paquete_id",
						"type": "String"
					},
					{
						"name": "paquete_nombre",
						"type": "String"
					},
					{
						"name": "fecha_entrega",
						"type": "String"
					},
					{
						"name": "lote_produccion",
						"type": "String"
					},
					{
						"name": "peso_paquete_kg",
						"type": "String"
					},
					{
						"name": "fecha_proxima_entrega",
						"type": "String"
					}
				]
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/LS_Storage_Subsidio')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/DS_Bronze_SUP_Establecimientos')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "LS_Storage_Subsidio",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "bronze/SUP"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"fileName": "establecimientos.csv",
						"folderPath": "SUP",
						"container": "bronze"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": [
					{
						"name": "establecimiento_id",
						"type": "String"
					},
					{
						"name": "codigo_snis",
						"type": "String"
					},
					{
						"name": "nombre",
						"type": "String"
					},
					{
						"name": "tipo",
						"type": "String"
					},
					{
						"name": "nivel_atencion",
						"type": "String"
					},
					{
						"name": "municipio",
						"type": "String"
					},
					{
						"name": "departamento",
						"type": "String"
					},
					{
						"name": "red_salud",
						"type": "String"
					},
					{
						"name": "estado",
						"type": "String"
					}
				]
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/LS_Storage_Subsidio')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/DS_Bronze_SUP_Inscripciones')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "LS_Storage_Subsidio",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "bronze/SUP"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"fileName": "inscripciones.csv",
						"folderPath": "SUP",
						"container": "bronze"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": [
					{
						"name": "inscripcion_id",
						"type": "String"
					},
					{
						"name": "ci_beneficiaria",
						"type": "String"
					},
					{
						"name": "establecimiento_id",
						"type": "String"
					},
					{
						"name": "fecha_inscripcion",
						"type": "String"
					},
					{
						"name": "semana_gestacion",
						"type": "String"
					},
					{
						"name": "estado",
						"type": "String"
					}
				]
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/LS_Storage_Subsidio')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/DS_Gold_Dim_Beneficiaria')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "dw_subsidio",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "gold"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [
					{
						"name": "CI_Beneficiaria",
						"type": "varchar"
					},
					{
						"name": "Nombres",
						"type": "varchar"
					},
					{
						"name": "Apellido_Paterno",
						"type": "varchar"
					},
					{
						"name": "Apellido_Materno",
						"type": "varchar"
					},
					{
						"name": "Fecha_Nacimiento",
						"type": "date"
					},
					{
						"name": "Estado_Civil",
						"type": "varchar"
					},
					{
						"name": "Municipio_Residencia",
						"type": "varchar"
					},
					{
						"name": "Numero_Hijos",
						"type": "int",
						"precision": 10
					}
				],
				"typeProperties": {
					"schema": "gold",
					"table": "Dim_Beneficiaria"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/dw_subsidio')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/DS_Gold_Dim_Establecimiento')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "dw_subsidio",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "gold"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [
					{
						"name": "ID_Establecimiento",
						"type": "int",
						"precision": 10
					},
					{
						"name": "Nombre_Establecimiento",
						"type": "varchar"
					},
					{
						"name": "Municipio",
						"type": "varchar"
					},
					{
						"name": "Departamento",
						"type": "varchar"
					},
					{
						"name": "Red_Salud",
						"type": "varchar"
					}
				],
				"typeProperties": {
					"schema": "gold",
					"table": "Dim_Establecimiento"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/dw_subsidio')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/DS_Gold_Dim_Paquete')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "dw_subsidio",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "gold"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [
					{
						"name": "ID_Paquete",
						"type": "int",
						"precision": 10
					},
					{
						"name": "Peso_Estandar_Kg",
						"type": "decimal",
						"precision": 10,
						"scale": 2
					},
					{
						"name": "Costo_Estimado_Bs",
						"type": "decimal",
						"precision": 10,
						"scale": 2
					}
				],
				"typeProperties": {
					"schema": "gold",
					"table": "Dim_Paquete"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/dw_subsidio')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/DS_Gold_Dim_Tiempo')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "dw_subsidio",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "gold"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [
					{
						"name": "FechaKey",
						"type": "int",
						"precision": 10
					},
					{
						"name": "Fecha",
						"type": "date"
					},
					{
						"name": "Anio",
						"type": "int",
						"precision": 10
					},
					{
						"name": "Mes",
						"type": "int",
						"precision": 10
					},
					{
						"name": "Nombre_Mes",
						"type": "varchar"
					},
					{
						"name": "Dia",
						"type": "int",
						"precision": 10
					},
					{
						"name": "Trimestre",
						"type": "int",
						"precision": 10
					}
				],
				"typeProperties": {
					"schema": "gold",
					"table": "Dim_Tiempo"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/dw_subsidio')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/DS_Gold_Dim_Tipo_Evento')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "dw_subsidio",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "gold"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [
					{
						"name": "ID_Tipo_Evento",
						"type": "int",
						"precision": 10
					},
					{
						"name": "Categoria",
						"type": "varchar"
					},
					{
						"name": "Sub_Categoria",
						"type": "varchar"
					},
					{
						"name": "Sistema_Origen",
						"type": "varchar"
					}
				],
				"typeProperties": {
					"schema": "gold",
					"table": "Dim_Tipo_Evento"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/dw_subsidio')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/DS_Gold_Fact_Atencion_Clinica')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "dw_subsidio",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "gold"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [
					{
						"name": "ID_Hecho",
						"type": "int",
						"precision": 10
					},
					{
						"name": "FechaKey",
						"type": "int",
						"precision": 10
					},
					{
						"name": "CI_Beneficiaria",
						"type": "varchar"
					},
					{
						"name": "ID_Establecimiento",
						"type": "int",
						"precision": 10
					},
					{
						"name": "ID_Tipo_Evento",
						"type": "int",
						"precision": 10
					},
					{
						"name": "Nro_Control",
						"type": "int",
						"precision": 10
					},
					{
						"name": "Semana_Gestacion",
						"type": "int",
						"precision": 10
					},
					{
						"name": "Peso_Registrado_Kg",
						"type": "decimal",
						"precision": 10,
						"scale": 2
					},
					{
						"name": "Talla_Registrada_Cm",
						"type": "decimal",
						"precision": 10,
						"scale": 2
					},
					{
						"name": "Resultado",
						"type": "varchar"
					}
				],
				"typeProperties": {
					"schema": "gold",
					"table": "Fact_Atencion_Clinica"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/dw_subsidio')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/DS_Gold_Fact_Beneficios_Entregados')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "dw_subsidio",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "gold"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [
					{
						"name": "ID_Hecho",
						"type": "int",
						"precision": 10
					},
					{
						"name": "FechaKey",
						"type": "int",
						"precision": 10
					},
					{
						"name": "CI_Beneficiaria",
						"type": "varchar"
					},
					{
						"name": "ID_Tipo_Evento",
						"type": "int",
						"precision": 10
					},
					{
						"name": "ID_Paquete",
						"type": "int",
						"precision": 10
					},
					{
						"name": "ID_Establecimiento",
						"type": "int",
						"precision": 10
					},
					{
						"name": "Monto_Efectivo_Bs",
						"type": "decimal",
						"precision": 10,
						"scale": 2
					},
					{
						"name": "Peso_Entregado_Kg",
						"type": "decimal",
						"precision": 10,
						"scale": 2
					},
					{
						"name": "Lote_Produccion",
						"type": "varchar"
					},
					{
						"name": "Estado",
						"type": "varchar"
					}
				],
				"typeProperties": {
					"schema": "gold",
					"table": "Fact_Beneficios_Entregados"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/dw_subsidio')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/DS_Silver_BJA_ControlesPediatricos')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "dw_subsidio",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "silver/BJA"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [
					{
						"name": "control_pediatrico_id",
						"type": "varchar"
					},
					{
						"name": "ci_nino",
						"type": "varchar"
					},
					{
						"name": "ci_madre",
						"type": "varchar"
					},
					{
						"name": "establecimiento_id",
						"type": "varchar"
					},
					{
						"name": "nro_control",
						"type": "int",
						"precision": 10
					},
					{
						"name": "fecha_control",
						"type": "date"
					},
					{
						"name": "peso_nino_kg",
						"type": "decimal",
						"precision": 18,
						"scale": 2
					},
					{
						"name": "talla_nino_cm",
						"type": "decimal",
						"precision": 18,
						"scale": 2
					},
					{
						"name": "vacuna_aplicada",
						"type": "varchar"
					},
					{
						"name": "resultado",
						"type": "varchar"
					},
					{
						"name": "fecha_carga",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					}
				],
				"typeProperties": {
					"schema": "silver",
					"table": "bja_controles_pediatricos"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/dw_subsidio')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/DS_Silver_BJA_ControlesPrenatales')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "dw_subsidio",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "silver/BJA"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [
					{
						"name": "control_prenatal_id",
						"type": "varchar"
					},
					{
						"name": "ci_beneficiaria",
						"type": "varchar"
					},
					{
						"name": "establecimiento_id",
						"type": "varchar"
					},
					{
						"name": "nro_control",
						"type": "int",
						"precision": 10
					},
					{
						"name": "fecha_control",
						"type": "date"
					},
					{
						"name": "semana_gestacion",
						"type": "int",
						"precision": 10
					},
					{
						"name": "peso_madre_kg",
						"type": "decimal",
						"precision": 18,
						"scale": 2
					},
					{
						"name": "presion_arterial",
						"type": "varchar"
					},
					{
						"name": "resultado",
						"type": "varchar"
					},
					{
						"name": "fecha_carga",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					}
				],
				"typeProperties": {
					"schema": "silver",
					"table": "bja_controles_prenatales"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/dw_subsidio')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/DS_Silver_BJA_Establecimientos')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "dw_subsidio",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "silver/BJA"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [
					{
						"name": "establecimiento_id",
						"type": "varchar"
					},
					{
						"name": "codigo_snis",
						"type": "varchar"
					},
					{
						"name": "nombre",
						"type": "varchar"
					},
					{
						"name": "tipo",
						"type": "varchar"
					},
					{
						"name": "nivel_atencion",
						"type": "varchar"
					},
					{
						"name": "municipio",
						"type": "varchar"
					},
					{
						"name": "departamento",
						"type": "varchar"
					},
					{
						"name": "red_salud",
						"type": "varchar"
					},
					{
						"name": "estado",
						"type": "varchar"
					},
					{
						"name": "fecha_carga",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					}
				],
				"typeProperties": {
					"schema": "silver",
					"table": "bja_establecimientos"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/dw_subsidio')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/DS_Silver_BJA_Inscripciones')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "dw_subsidio",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "silver/BJA"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [
					{
						"name": "inscripcion_id",
						"type": "varchar"
					},
					{
						"name": "ci_beneficiaria",
						"type": "varchar"
					},
					{
						"name": "establecimiento_id",
						"type": "varchar"
					},
					{
						"name": "fecha_inscripcion",
						"type": "date"
					},
					{
						"name": "semana_gestacion",
						"type": "int",
						"precision": 10
					},
					{
						"name": "estado",
						"type": "varchar"
					},
					{
						"name": "fecha_carga",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					}
				],
				"typeProperties": {
					"schema": "silver",
					"table": "bja_inscripciones"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/dw_subsidio')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/DS_Silver_BJA_Pagos')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "dw_subsidio",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "silver/BJA"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [
					{
						"name": "pago_id",
						"type": "varchar"
					},
					{
						"name": "ci_beneficiaria",
						"type": "varchar"
					},
					{
						"name": "concepto_pago",
						"type": "varchar"
					},
					{
						"name": "monto_bs",
						"type": "decimal",
						"precision": 18,
						"scale": 2
					},
					{
						"name": "fecha_pago",
						"type": "date"
					},
					{
						"name": "estado_pago",
						"type": "varchar"
					},
					{
						"name": "canal_pago",
						"type": "varchar"
					},
					{
						"name": "nro_comprobante",
						"type": "varchar"
					},
					{
						"name": "fecha_carga",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					}
				],
				"typeProperties": {
					"schema": "silver",
					"table": "bja_pagos"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/dw_subsidio')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/DS_Silver_BJA_Partos')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "dw_subsidio",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "silver/BJA"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [
					{
						"name": "parto_id",
						"type": "varchar"
					},
					{
						"name": "ci_madre",
						"type": "varchar"
					},
					{
						"name": "ci_recien_nacido",
						"type": "varchar"
					},
					{
						"name": "establecimiento_id",
						"type": "varchar"
					},
					{
						"name": "fecha_parto",
						"type": "date"
					},
					{
						"name": "tipo_parto",
						"type": "varchar"
					},
					{
						"name": "peso_nacimiento_kg",
						"type": "decimal",
						"precision": 18,
						"scale": 2
					},
					{
						"name": "talla_nacimiento_cm",
						"type": "decimal",
						"precision": 18,
						"scale": 2
					},
					{
						"name": "fecha_carga",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					}
				],
				"typeProperties": {
					"schema": "silver",
					"table": "bja_partos"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/dw_subsidio')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/DS_Silver_SEGIP_Personas')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "dw_subsidio",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "silver/SEGIP"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [
					{
						"name": "ci",
						"type": "varchar"
					},
					{
						"name": "nombres",
						"type": "varchar"
					},
					{
						"name": "apellido_paterno",
						"type": "varchar"
					},
					{
						"name": "apellido_materno",
						"type": "varchar"
					},
					{
						"name": "fecha_nacimiento",
						"type": "date"
					},
					{
						"name": "genero",
						"type": "varchar"
					},
					{
						"name": "estado_civil",
						"type": "varchar"
					},
					{
						"name": "ci_conyuge",
						"type": "varchar"
					},
					{
						"name": "numero_hijos",
						"type": "int",
						"precision": 10
					},
					{
						"name": "ci_padre",
						"type": "varchar"
					},
					{
						"name": "ci_madre",
						"type": "varchar"
					},
					{
						"name": "profesion",
						"type": "varchar"
					},
					{
						"name": "nivel_estudios",
						"type": "varchar"
					},
					{
						"name": "municipio_residencia",
						"type": "varchar"
					},
					{
						"name": "fecha_emision",
						"type": "date"
					},
					{
						"name": "fecha_carga",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					}
				],
				"typeProperties": {
					"schema": "silver",
					"table": "segip_personas"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/dw_subsidio')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/DS_Silver_SUP_Boletas')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "dw_subsidio",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "silver/SUP"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [
					{
						"name": "boleta_id",
						"type": "varchar"
					},
					{
						"name": "control_id",
						"type": "varchar"
					},
					{
						"name": "ci_beneficiaria",
						"type": "varchar"
					},
					{
						"name": "nro_boleta",
						"type": "varchar"
					},
					{
						"name": "fecha_emision",
						"type": "date"
					},
					{
						"name": "estado",
						"type": "varchar"
					},
					{
						"name": "fecha_carga",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					}
				],
				"typeProperties": {
					"schema": "silver",
					"table": "sup_boletas"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/dw_subsidio')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/DS_Silver_SUP_CatalogoPaquetes')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "dw_subsidio",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "silver/SUP"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [
					{
						"name": "paquete_id",
						"type": "varchar"
					},
					{
						"name": "nombre",
						"type": "varchar"
					},
					{
						"name": "contenido",
						"type": "varchar"
					},
					{
						"name": "peso_estandar_kg",
						"type": "decimal",
						"precision": 18,
						"scale": 2
					},
					{
						"name": "costo_estimado_bs",
						"type": "decimal",
						"precision": 18,
						"scale": 2
					},
					{
						"name": "fecha_carga",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					}
				],
				"typeProperties": {
					"schema": "silver",
					"table": "sup_catalogo_paquetes"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/dw_subsidio')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/DS_Silver_SUP_Controles')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "dw_subsidio",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "silver/SUP"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [
					{
						"name": "control_id",
						"type": "varchar"
					},
					{
						"name": "ci_beneficiaria",
						"type": "varchar"
					},
					{
						"name": "establecimiento_id",
						"type": "varchar"
					},
					{
						"name": "nro_control",
						"type": "int",
						"precision": 10
					},
					{
						"name": "fecha_control",
						"type": "date"
					},
					{
						"name": "semana_gestacion",
						"type": "int",
						"precision": 10
					},
					{
						"name": "peso_madre_kg",
						"type": "decimal",
						"precision": 18,
						"scale": 2
					},
					{
						"name": "presion_arterial",
						"type": "varchar"
					},
					{
						"name": "fecha_carga",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					}
				],
				"typeProperties": {
					"schema": "silver",
					"table": "sup_controles"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/dw_subsidio')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/DS_Silver_SUP_Entregas')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "dw_subsidio",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "silver/SUP"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [
					{
						"name": "entrega_id",
						"type": "varchar"
					},
					{
						"name": "boleta_id",
						"type": "varchar"
					},
					{
						"name": "ci_beneficiaria",
						"type": "varchar"
					},
					{
						"name": "establecimiento_id",
						"type": "varchar"
					},
					{
						"name": "paquete_id",
						"type": "varchar"
					},
					{
						"name": "paquete_nombre",
						"type": "varchar"
					},
					{
						"name": "fecha_entrega",
						"type": "date"
					},
					{
						"name": "lote_produccion",
						"type": "varchar"
					},
					{
						"name": "peso_paquete_kg",
						"type": "decimal",
						"precision": 18,
						"scale": 2
					},
					{
						"name": "fecha_proxima_entrega",
						"type": "date"
					},
					{
						"name": "fecha_carga",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					}
				],
				"typeProperties": {
					"schema": "silver",
					"table": "sup_entregas"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/dw_subsidio')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/DS_Silver_SUP_Establecimientos')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "dw_subsidio",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "silver/SUP"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [
					{
						"name": "establecimiento_id",
						"type": "varchar"
					},
					{
						"name": "codigo_snis",
						"type": "varchar"
					},
					{
						"name": "nombre",
						"type": "varchar"
					},
					{
						"name": "tipo",
						"type": "varchar"
					},
					{
						"name": "nivel_atencion",
						"type": "varchar"
					},
					{
						"name": "municipio",
						"type": "varchar"
					},
					{
						"name": "departamento",
						"type": "varchar"
					},
					{
						"name": "red_salud",
						"type": "varchar"
					},
					{
						"name": "estado",
						"type": "varchar"
					},
					{
						"name": "fecha_carga",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					}
				],
				"typeProperties": {
					"schema": "silver",
					"table": "sup_establecimientos"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/dw_subsidio')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/DS_Silver_SUP_Inscripciones')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "dw_subsidio",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "silver/SUP"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [
					{
						"name": "inscripcion_id",
						"type": "varchar"
					},
					{
						"name": "ci_beneficiaria",
						"type": "varchar"
					},
					{
						"name": "establecimiento_id",
						"type": "varchar"
					},
					{
						"name": "fecha_inscripcion",
						"type": "date"
					},
					{
						"name": "semana_gestacion",
						"type": "int",
						"precision": 10
					},
					{
						"name": "estado",
						"type": "varchar"
					},
					{
						"name": "fecha_carga",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					}
				],
				"typeProperties": {
					"schema": "silver",
					"table": "sup_inscripciones"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/dw_subsidio')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/LS_Storage_Subsidio')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureBlobStorage",
				"typeProperties": {
					"connectionString": "[parameters('LS_Storage_Subsidio_connectionString')]"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/dw_subsidio')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureSqlDatabase",
				"typeProperties": {
					"server": "[parameters('dw_subsidio_properties_typeProperties_server')]",
					"database": "[parameters('dw_subsidio_properties_typeProperties_database')]",
					"encrypt": "mandatory",
					"trustServerCertificate": false,
					"authenticationType": "SQL",
					"userName": "[parameters('dw_subsidio_properties_typeProperties_userName')]",
					"password": {
						"type": "SecureString",
						"value": "[parameters('dw_subsidio_password')]"
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/DF_Gold_Dim_Beneficiaria')]",
			"type": "Microsoft.DataFactory/factories/dataflows",
			"apiVersion": "2018-06-01",
			"properties": {
				"folder": {
					"name": "silver_to_gold"
				},
				"type": "MappingDataFlow",
				"typeProperties": {
					"sources": [
						{
							"dataset": {
								"referenceName": "DS_Silver_SEGIP_Personas",
								"type": "DatasetReference"
							},
							"name": "source1"
						}
					],
					"sinks": [
						{
							"dataset": {
								"referenceName": "DS_Gold_Dim_Beneficiaria",
								"type": "DatasetReference"
							},
							"name": "sink1"
						}
					],
					"transformations": [
						{
							"name": "select1"
						}
					],
					"scriptLines": [
						"source(output(",
						"          ci as string,",
						"          nombres as string,",
						"          apellido_paterno as string,",
						"          apellido_materno as string,",
						"          fecha_nacimiento as date,",
						"          genero as string,",
						"          estado_civil as string,",
						"          ci_conyuge as string,",
						"          numero_hijos as integer,",
						"          ci_padre as string,",
						"          ci_madre as string,",
						"          profesion as string,",
						"          nivel_estudios as string,",
						"          municipio_residencia as string,",
						"          fecha_emision as date,",
						"          fecha_carga as timestamp",
						"     ),",
						"     allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     isolationLevel: 'READ_UNCOMMITTED',",
						"     format: 'table') ~> source1",
						"source1 select(mapColumn(",
						"          CI_Beneficiaria = ci,",
						"          nombres,",
						"          apellido_paterno,",
						"          apellido_materno,",
						"          fecha_nacimiento,",
						"          estado_civil,",
						"          municipio_residencia,",
						"          numero_hijos",
						"     ),",
						"     skipDuplicateMapInputs: true,",
						"     skipDuplicateMapOutputs: true) ~> select1",
						"select1 sink(allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     input(",
						"          CI_Beneficiaria as string,",
						"          Nombres as string,",
						"          Apellido_Paterno as string,",
						"          Apellido_Materno as string,",
						"          Fecha_Nacimiento as date,",
						"          Estado_Civil as string,",
						"          Municipio_Residencia as string,",
						"          Numero_Hijos as integer",
						"     ),",
						"     deletable:false,",
						"     insertable:true,",
						"     updateable:false,",
						"     upsertable:false,",
						"     truncate:true,",
						"     format: 'table',",
						"     skipDuplicateMapInputs: true,",
						"     skipDuplicateMapOutputs: true,",
						"     errorHandlingOption: 'stopOnFirstError',",
						"     mapColumn(",
						"          CI_Beneficiaria,",
						"          Nombres = nombres,",
						"          Apellido_Paterno = apellido_paterno,",
						"          Apellido_Materno = apellido_materno,",
						"          Fecha_Nacimiento = fecha_nacimiento,",
						"          Estado_Civil = estado_civil,",
						"          Municipio_Residencia = municipio_residencia,",
						"          Numero_Hijos = numero_hijos",
						"     )) ~> sink1"
					]
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/DS_Silver_SEGIP_Personas')]",
				"[concat(variables('factoryId'), '/datasets/DS_Gold_Dim_Beneficiaria')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/DF_Gold_Dim_Establecimiento')]",
			"type": "Microsoft.DataFactory/factories/dataflows",
			"apiVersion": "2018-06-01",
			"properties": {
				"folder": {
					"name": "silver_to_gold"
				},
				"type": "MappingDataFlow",
				"typeProperties": {
					"sources": [
						{
							"dataset": {
								"referenceName": "DS_Silver_BJA_Establecimientos",
								"type": "DatasetReference"
							},
							"name": "source"
						},
						{
							"dataset": {
								"referenceName": "DS_Silver_SUP_Establecimientos",
								"type": "DatasetReference"
							},
							"name": "source1"
						}
					],
					"sinks": [
						{
							"dataset": {
								"referenceName": "DS_Gold_Dim_Establecimiento",
								"type": "DatasetReference"
							},
							"name": "sink1"
						}
					],
					"transformations": [
						{
							"name": "select1"
						},
						{
							"name": "select2"
						},
						{
							"name": "union1"
						},
						{
							"name": "aggregate1"
						},
						{
							"name": "derivedColumn1"
						}
					],
					"scriptLines": [
						"source(output(",
						"          establecimiento_id as string,",
						"          codigo_snis as string,",
						"          nombre as string,",
						"          tipo as string,",
						"          nivel_atencion as string,",
						"          municipio as string,",
						"          departamento as string,",
						"          red_salud as string,",
						"          estado as string,",
						"          fecha_carga as timestamp",
						"     ),",
						"     allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     isolationLevel: 'READ_UNCOMMITTED',",
						"     format: 'table') ~> source",
						"source(output(",
						"          establecimiento_id as string,",
						"          codigo_snis as string,",
						"          nombre as string,",
						"          tipo as string,",
						"          nivel_atencion as string,",
						"          municipio as string,",
						"          departamento as string,",
						"          red_salud as string,",
						"          estado as string,",
						"          fecha_carga as timestamp",
						"     ),",
						"     allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     isolationLevel: 'READ_UNCOMMITTED',",
						"     format: 'table') ~> source1",
						"source select(mapColumn(",
						"          Nombre_Establecimiento = nombre,",
						"          Municipio = municipio",
						"     ),",
						"     skipDuplicateMapInputs: true,",
						"     skipDuplicateMapOutputs: true) ~> select1",
						"source1 select(mapColumn(",
						"          Nombre_Establecimiento = nombre,",
						"          Municipio = municipio",
						"     ),",
						"     skipDuplicateMapInputs: true,",
						"     skipDuplicateMapOutputs: true) ~> select2",
						"select1, select2 union(byName: true)~> union1",
						"union1 aggregate(groupBy(Nombre_Establecimiento,",
						"          Municipio),",
						"     Conteo_Dummy = count()) ~> aggregate1",
						"aggregate1 derive(Departamento = 'NO REGISTRADO',",
						"          Red_salud = 'NO REGISTRADO') ~> derivedColumn1",
						"derivedColumn1 sink(allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     input(",
						"          ID_Establecimiento as integer,",
						"          Nombre_Establecimiento as string,",
						"          Municipio as string,",
						"          Departamento as string,",
						"          Red_Salud as string",
						"     ),",
						"     deletable:false,",
						"     insertable:true,",
						"     updateable:false,",
						"     upsertable:false,",
						"     truncate:true,",
						"     format: 'table',",
						"     skipDuplicateMapInputs: true,",
						"     skipDuplicateMapOutputs: true,",
						"     errorHandlingOption: 'stopOnFirstError',",
						"     mapColumn(",
						"          Nombre_Establecimiento,",
						"          Municipio,",
						"          Departamento,",
						"          Red_Salud = Red_salud",
						"     )) ~> sink1"
					]
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/DS_Silver_BJA_Establecimientos')]",
				"[concat(variables('factoryId'), '/datasets/DS_Silver_SUP_Establecimientos')]",
				"[concat(variables('factoryId'), '/datasets/DS_Gold_Dim_Establecimiento')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/DF_Gold_Dim_Paquete')]",
			"type": "Microsoft.DataFactory/factories/dataflows",
			"apiVersion": "2018-06-01",
			"properties": {
				"folder": {
					"name": "silver_to_gold"
				},
				"type": "MappingDataFlow",
				"typeProperties": {
					"sources": [
						{
							"dataset": {
								"referenceName": "DS_Silver_SUP_CatalogoPaquetes",
								"type": "DatasetReference"
							},
							"name": "source1"
						}
					],
					"sinks": [
						{
							"dataset": {
								"referenceName": "DS_Gold_Dim_Paquete",
								"type": "DatasetReference"
							},
							"name": "sink1"
						}
					],
					"transformations": [
						{
							"name": "select1"
						}
					],
					"scriptLines": [
						"source(output(",
						"          paquete_id as string,",
						"          nombre as string,",
						"          contenido as string,",
						"          peso_estandar_kg as decimal(18,2),",
						"          costo_estimado_bs as decimal(18,2),",
						"          fecha_carga as timestamp",
						"     ),",
						"     allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     isolationLevel: 'READ_UNCOMMITTED',",
						"     format: 'table') ~> source1",
						"source1 select(mapColumn(",
						"          peso_estandar_kg,",
						"          costo_estimado_bs",
						"     ),",
						"     skipDuplicateMapInputs: true,",
						"     skipDuplicateMapOutputs: true) ~> select1",
						"select1 sink(allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     input(",
						"          ID_Paquete as integer,",
						"          Peso_Estandar_Kg as decimal(10,2),",
						"          Costo_Estimado_Bs as decimal(10,2)",
						"     ),",
						"     deletable:false,",
						"     insertable:true,",
						"     updateable:false,",
						"     upsertable:false,",
						"     format: 'table',",
						"     skipDuplicateMapInputs: true,",
						"     skipDuplicateMapOutputs: true,",
						"     errorHandlingOption: 'stopOnFirstError',",
						"     mapColumn(",
						"          Peso_Estandar_Kg = peso_estandar_kg,",
						"          Costo_Estimado_Bs = costo_estimado_bs",
						"     )) ~> sink1"
					]
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/DS_Silver_SUP_CatalogoPaquetes')]",
				"[concat(variables('factoryId'), '/datasets/DS_Gold_Dim_Paquete')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/DF_Gold_Fact_Atencion_Clinica')]",
			"type": "Microsoft.DataFactory/factories/dataflows",
			"apiVersion": "2018-06-01",
			"properties": {
				"folder": {
					"name": "silver_to_gold"
				},
				"type": "MappingDataFlow",
				"typeProperties": {
					"sources": [
						{
							"dataset": {
								"referenceName": "DS_Silver_BJA_ControlesPrenatales",
								"type": "DatasetReference"
							},
							"name": "source1"
						},
						{
							"dataset": {
								"referenceName": "DS_Silver_BJA_Partos",
								"type": "DatasetReference"
							},
							"name": "source2"
						},
						{
							"dataset": {
								"referenceName": "DS_Silver_BJA_ControlesPediatricos",
								"type": "DatasetReference"
							},
							"name": "source3"
						},
						{
							"dataset": {
								"referenceName": "DS_Silver_SUP_Controles",
								"type": "DatasetReference"
							},
							"name": "source4"
						},
						{
							"dataset": {
								"referenceName": "DS_Silver_BJA_Establecimientos",
								"type": "DatasetReference"
							},
							"name": "source5"
						},
						{
							"dataset": {
								"referenceName": "DS_Gold_Dim_Establecimiento",
								"type": "DatasetReference"
							},
							"name": "source6"
						},
						{
							"dataset": {
								"referenceName": "DS_Gold_Dim_Tipo_Evento",
								"type": "DatasetReference"
							},
							"name": "source7"
						}
					],
					"sinks": [
						{
							"dataset": {
								"referenceName": "DS_Gold_Fact_Atencion_Clinica",
								"type": "DatasetReference"
							},
							"name": "sink1"
						}
					],
					"transformations": [
						{
							"name": "derivedColumn1"
						},
						{
							"name": "derivedColumn2"
						},
						{
							"name": "derivedColumn3"
						},
						{
							"name": "derivedColumn4"
						},
						{
							"name": "select1"
						},
						{
							"name": "lookup1"
						},
						{
							"name": "select2"
						},
						{
							"name": "lookup2"
						},
						{
							"name": "select3"
						},
						{
							"name": "lookup3"
						},
						{
							"name": "select4"
						},
						{
							"name": "lookup4"
						},
						{
							"name": "select5"
						},
						{
							"name": "union1"
						},
						{
							"name": "lookup5"
						},
						{
							"name": "lookup6"
						},
						{
							"name": "select6"
						}
					],
					"scriptLines": [
						"source(output(",
						"          control_prenatal_id as string,",
						"          ci_beneficiaria as string,",
						"          establecimiento_id as string,",
						"          nro_control as integer,",
						"          fecha_control as date,",
						"          semana_gestacion as integer,",
						"          peso_madre_kg as decimal(18,2),",
						"          presion_arterial as string,",
						"          resultado as string,",
						"          fecha_carga as timestamp",
						"     ),",
						"     allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     isolationLevel: 'READ_UNCOMMITTED',",
						"     format: 'table') ~> source1",
						"source(output(",
						"          parto_id as string,",
						"          ci_madre as string,",
						"          ci_recien_nacido as string,",
						"          establecimiento_id as string,",
						"          fecha_parto as date,",
						"          tipo_parto as string,",
						"          peso_nacimiento_kg as decimal(18,2),",
						"          talla_nacimiento_cm as decimal(18,2),",
						"          fecha_carga as timestamp",
						"     ),",
						"     allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     isolationLevel: 'READ_UNCOMMITTED',",
						"     format: 'table') ~> source2",
						"source(output(",
						"          control_pediatrico_id as string,",
						"          ci_nino as string,",
						"          ci_madre as string,",
						"          establecimiento_id as string,",
						"          nro_control as integer,",
						"          fecha_control as date,",
						"          peso_nino_kg as decimal(18,2),",
						"          talla_nino_cm as decimal(18,2),",
						"          vacuna_aplicada as string,",
						"          resultado as string,",
						"          fecha_carga as timestamp",
						"     ),",
						"     allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     isolationLevel: 'READ_UNCOMMITTED',",
						"     format: 'table') ~> source3",
						"source(output(",
						"          control_id as string,",
						"          ci_beneficiaria as string,",
						"          establecimiento_id as string,",
						"          nro_control as integer,",
						"          fecha_control as date,",
						"          semana_gestacion as integer,",
						"          peso_madre_kg as decimal(18,2),",
						"          presion_arterial as string,",
						"          fecha_carga as timestamp",
						"     ),",
						"     allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     isolationLevel: 'READ_UNCOMMITTED',",
						"     format: 'table') ~> source4",
						"source(output(",
						"          establecimiento_id as string,",
						"          codigo_snis as string,",
						"          nombre as string,",
						"          tipo as string,",
						"          nivel_atencion as string,",
						"          municipio as string,",
						"          departamento as string,",
						"          red_salud as string,",
						"          estado as string,",
						"          fecha_carga as timestamp",
						"     ),",
						"     allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     isolationLevel: 'READ_UNCOMMITTED',",
						"     format: 'table') ~> source5",
						"source(output(",
						"          ID_Establecimiento as integer,",
						"          Nombre_Establecimiento as string,",
						"          Municipio as string,",
						"          Departamento as string,",
						"          Red_Salud as string",
						"     ),",
						"     allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     isolationLevel: 'READ_UNCOMMITTED',",
						"     format: 'table') ~> source6",
						"source(output(",
						"          ID_Tipo_Evento as integer,",
						"          Categoria as string,",
						"          Sub_Categoria as string,",
						"          Sistema_Origen as string",
						"     ),",
						"     allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     isolationLevel: 'READ_UNCOMMITTED',",
						"     format: 'table') ~> source7",
						"source1 derive(Categoria = 'Atencion Clinica',",
						"          Sub_Categoria = 'Control Prenatal',",
						"          Sistema_Origen = 'BJA',",
						"          FechaKey = toInteger(toString(fecha_control, 'yyyyMMdd')),",
						"          Talla_Registrada_Cm = toDecimal(null())) ~> derivedColumn1",
						"source2 derive(Categoria = 'Atencion Clinica',",
						"          Sub_Categoria = 'Parto',",
						"          Sistema_Origen = 'BJA',",
						"          FechaKey = toInteger(toString(fecha_parto, 'yyyyMMdd')),",
						"          Nro_Control = toInteger(null()),",
						"          Semana_Gestacion = toInteger(null())) ~> derivedColumn2",
						"source3 derive(Categoria = 'Atencion Clinica',",
						"          Sub_Categoria = 'Control Pediatrico',",
						"          Sistema_Origen = 'BJA',",
						"          FechaKey = toInteger(toString(fecha_control, 'yyyyMMdd')),",
						"          Semana_Gestacion = toInteger(null())) ~> derivedColumn3",
						"source4 derive(Categoria = 'Atencion Clinica',",
						"          Sub_Categoria = 'Control Prenatal',",
						"          Sistema_Origen = 'SUP',",
						"          FechaKey = toInteger(toString(fecha_control, 'yyyyMMdd')),",
						"          Talla_Registrada_Cm = toDecimal(null()),",
						"          Resultado = 'NULL') ~> derivedColumn4",
						"derivedColumn1 select(mapColumn(",
						"          CI_Beneficiaria = ci_beneficiaria,",
						"          establecimiento_id,",
						"          Nro_Control = nro_control,",
						"          Semana_Gestacion = semana_gestacion,",
						"          Peso_Madre_Kg = peso_madre_kg,",
						"          Resultado = resultado,",
						"          Categoria,",
						"          Sub_Categoria,",
						"          Sistema_Origen,",
						"          FechaKey,",
						"          Talla_Registrada_Cm",
						"     ),",
						"     skipDuplicateMapInputs: true,",
						"     skipDuplicateMapOutputs: true) ~> select1",
						"select1, source5 lookup(select1@establecimiento_id == source5@establecimiento_id,",
						"     multiple: false,",
						"     pickup: 'any',",
						"     broadcast: 'auto')~> lookup1",
						"lookup1 select(mapColumn(",
						"          CI_Beneficiaria,",
						"          Nro_Control,",
						"          Semana_Gestacion,",
						"          Peso_Registrado_Kg = Peso_Madre_Kg,",
						"          Resultado,",
						"          Categoria,",
						"          Sub_Categoria,",
						"          Sistema_Origen,",
						"          FechaKey,",
						"          Nombre_Establecimiento = nombre,",
						"          Talla_Registrada_Cm",
						"     ),",
						"     skipDuplicateMapInputs: true,",
						"     skipDuplicateMapOutputs: true) ~> select2",
						"derivedColumn2, source5 lookup(source2@establecimiento_id == source5@establecimiento_id,",
						"     multiple: false,",
						"     pickup: 'any',",
						"     broadcast: 'auto')~> lookup2",
						"lookup2 select(mapColumn(",
						"          CI_Beneficiaria = ci_madre,",
						"          Resultado = tipo_parto,",
						"          Peso_Registrado_Kg = peso_nacimiento_kg,",
						"          Talla_Registrada_Cm = talla_nacimiento_cm,",
						"          Categoria,",
						"          Sub_Categoria,",
						"          Sistema_Origen,",
						"          FechaKey,",
						"          Nro_Control,",
						"          Semana_Gestacion,",
						"          Nombre_Establecimiento = nombre",
						"     ),",
						"     skipDuplicateMapInputs: true,",
						"     skipDuplicateMapOutputs: true) ~> select3",
						"derivedColumn3, source5 lookup(source3@establecimiento_id == source5@establecimiento_id,",
						"     multiple: false,",
						"     pickup: 'any',",
						"     broadcast: 'auto')~> lookup3",
						"lookup3 select(mapColumn(",
						"          CI_Beneficiaria = ci_madre,",
						"          Nro_Control = nro_control,",
						"          Peso_Registrado_Kg = peso_nino_kg,",
						"          Talla_Registrada_Cm = talla_nino_cm,",
						"          Resultado = resultado,",
						"          Categoria,",
						"          Sub_Categoria,",
						"          Sistema_Origen,",
						"          FechaKey,",
						"          Nombre_Establecimiento = nombre,",
						"          Semana_Gestacion",
						"     ),",
						"     skipDuplicateMapInputs: true,",
						"     skipDuplicateMapOutputs: true) ~> select4",
						"derivedColumn4, source5 lookup(source4@establecimiento_id == source5@establecimiento_id,",
						"     multiple: false,",
						"     pickup: 'any',",
						"     broadcast: 'auto')~> lookup4",
						"lookup4 select(mapColumn(",
						"          CI_Beneficiaria = ci_beneficiaria,",
						"          Nro_Control = nro_control,",
						"          Semana_Gestacion = semana_gestacion,",
						"          Peso_Registrado_Kg = peso_madre_kg,",
						"          Categoria,",
						"          Sub_Categoria,",
						"          Sistema_Origen,",
						"          FechaKey,",
						"          Nombre_Establecimiento = nombre,",
						"          Talla_Registrada_Cm,",
						"          Resultado",
						"     ),",
						"     skipDuplicateMapInputs: true,",
						"     skipDuplicateMapOutputs: true) ~> select5",
						"select2, select3, select4, select5 union(byName: true)~> union1",
						"union1, source6 lookup(union1@Nombre_Establecimiento == source6@Nombre_Establecimiento,",
						"     multiple: false,",
						"     pickup: 'any',",
						"     broadcast: 'auto')~> lookup5",
						"lookup5, source7 lookup(union1@Categoria == source7@Categoria",
						"     && union1@Sub_Categoria == source7@Sub_Categoria",
						"     && union1@Sistema_Origen == source7@Sistema_Origen,",
						"     multiple: false,",
						"     pickup: 'any',",
						"     broadcast: 'auto')~> lookup6",
						"lookup6 select(mapColumn(",
						"          CI_Beneficiaria,",
						"          Nro_Control,",
						"          Semana_Gestacion,",
						"          Peso_Registrado_Kg,",
						"          Resultado,",
						"          FechaKey,",
						"          Talla_Registrada_Cm,",
						"          ID_Establecimiento,",
						"          ID_Tipo_Evento",
						"     ),",
						"     skipDuplicateMapInputs: true,",
						"     skipDuplicateMapOutputs: true) ~> select6",
						"select6 sink(allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     input(",
						"          ID_Hecho as integer,",
						"          FechaKey as integer,",
						"          CI_Beneficiaria as string,",
						"          ID_Establecimiento as integer,",
						"          ID_Tipo_Evento as integer,",
						"          Nro_Control as integer,",
						"          Semana_Gestacion as integer,",
						"          Peso_Registrado_Kg as decimal(10,2),",
						"          Talla_Registrada_Cm as decimal(10,2),",
						"          Resultado as string",
						"     ),",
						"     deletable:false,",
						"     insertable:true,",
						"     updateable:false,",
						"     upsertable:false,",
						"     format: 'table',",
						"     skipDuplicateMapInputs: true,",
						"     skipDuplicateMapOutputs: true,",
						"     errorHandlingOption: 'stopOnFirstError') ~> sink1"
					]
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/DS_Silver_BJA_ControlesPrenatales')]",
				"[concat(variables('factoryId'), '/datasets/DS_Silver_BJA_Partos')]",
				"[concat(variables('factoryId'), '/datasets/DS_Silver_BJA_ControlesPediatricos')]",
				"[concat(variables('factoryId'), '/datasets/DS_Silver_SUP_Controles')]",
				"[concat(variables('factoryId'), '/datasets/DS_Silver_BJA_Establecimientos')]",
				"[concat(variables('factoryId'), '/datasets/DS_Gold_Dim_Establecimiento')]",
				"[concat(variables('factoryId'), '/datasets/DS_Gold_Dim_Tipo_Evento')]",
				"[concat(variables('factoryId'), '/datasets/DS_Gold_Fact_Atencion_Clinica')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/DF_Gold_Fact_Beneficios_Entregados')]",
			"type": "Microsoft.DataFactory/factories/dataflows",
			"apiVersion": "2018-06-01",
			"properties": {
				"folder": {
					"name": "silver_to_gold"
				},
				"type": "MappingDataFlow",
				"typeProperties": {
					"sources": [
						{
							"dataset": {
								"referenceName": "DS_Silver_BJA_Pagos",
								"type": "DatasetReference"
							},
							"name": "source1"
						},
						{
							"dataset": {
								"referenceName": "DS_Silver_SUP_Entregas",
								"type": "DatasetReference"
							},
							"name": "source2"
						},
						{
							"dataset": {
								"referenceName": "DS_Silver_SUP_Establecimientos",
								"type": "DatasetReference"
							},
							"name": "source3"
						}
					],
					"sinks": [
						{
							"dataset": {
								"referenceName": "DS_Gold_Fact_Beneficios_Entregados",
								"type": "DatasetReference"
							},
							"name": "sink1"
						}
					],
					"transformations": [
						{
							"name": "derivedColumn1"
						},
						{
							"name": "select1"
						},
						{
							"name": "derivedColumn2"
						},
						{
							"name": "select2"
						},
						{
							"name": "lookup1"
						},
						{
							"name": "union1"
						}
					],
					"scriptLines": [
						"source(output(",
						"          pago_id as string,",
						"          ci_beneficiaria as string,",
						"          concepto_pago as string,",
						"          monto_bs as decimal(18,2),",
						"          fecha_pago as date,",
						"          estado_pago as string,",
						"          canal_pago as string,",
						"          nro_comprobante as string,",
						"          fecha_carga as timestamp",
						"     ),",
						"     allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     isolationLevel: 'READ_UNCOMMITTED',",
						"     format: 'table') ~> source1",
						"source(output(",
						"          entrega_id as string,",
						"          boleta_id as string,",
						"          ci_beneficiaria as string,",
						"          establecimiento_id as string,",
						"          paquete_id as string,",
						"          paquete_nombre as string,",
						"          fecha_entrega as date,",
						"          lote_produccion as string,",
						"          peso_paquete_kg as decimal(18,2),",
						"          fecha_proxima_entrega as date,",
						"          fecha_carga as timestamp",
						"     ),",
						"     allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     isolationLevel: 'READ_UNCOMMITTED',",
						"     format: 'table') ~> source2",
						"source(output(",
						"          establecimiento_id as string,",
						"          codigo_snis as string,",
						"          nombre as string,",
						"          tipo as string,",
						"          nivel_atencion as string,",
						"          municipio as string,",
						"          departamento as string,",
						"          red_salud as string,",
						"          estado as string,",
						"          fecha_carga as timestamp",
						"     ),",
						"     allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     isolationLevel: 'READ_UNCOMMITTED',",
						"     format: 'table') ~> source3",
						"source1 derive(Categoria = 'Entrega Beneficio',",
						"          Sub_Categoria = 'Pago Efectivo',",
						"          Sistema_Origen = 'BJA',",
						"          FechaKey = toInteger(toString(fecha_pago, 'yyyyMMdd')),",
						"          Peso_Entregado_Kg = toDecimal(null()),",
						"          Lote_Produccion = toString(null()),",
						"          Nombre_Establecimiento = toString(null())) ~> derivedColumn1",
						"derivedColumn1 select(mapColumn(",
						"          CI_Beneficiaria = ci_beneficiaria,",
						"          Monto_Efectivo_Bs = monto_bs,",
						"          Estado = estado_pago,",
						"          Categoria,",
						"          Sub_Categoria,",
						"          Sistema_Origen,",
						"          FechaKey,",
						"          Peso_Entregado_Kg,",
						"          Lote_Produccion,",
						"          Nombre_Establecimiento",
						"     ),",
						"     skipDuplicateMapInputs: true,",
						"     skipDuplicateMapOutputs: true) ~> select1",
						"source2 derive(Categoria = 'Entrega Beneficio',",
						"          Sub_Categoria = 'Entrega Paquete',",
						"          Sistema_Origen = 'SUP',",
						"          FechaKey = toInteger(toString(fecha_entrega, 'yyyyMMdd')),",
						"          Monto_Efecivo_Bs = toDecimal(null()),",
						"          Estado = 'NULL') ~> derivedColumn2",
						"lookup1 select(mapColumn(",
						"          CI_Beneficiaria = ci_beneficiaria,",
						"          Lote_Produccion = lote_produccion,",
						"          Peso_Entregado_Kg = peso_paquete_kg,",
						"          Categoria,",
						"          Sub_Categoria,",
						"          Sistema_Origen,",
						"          FechaKey,",
						"          Monto_Efectivo_Bs = Monto_Efecivo_Bs,",
						"          Nombre_Establecimiento = nombre,",
						"          Estado = source3@estado",
						"     ),",
						"     skipDuplicateMapInputs: true,",
						"     skipDuplicateMapOutputs: true) ~> select2",
						"derivedColumn2, source3 lookup(source2@establecimiento_id == source3@establecimiento_id,",
						"     multiple: false,",
						"     pickup: 'any',",
						"     broadcast: 'auto')~> lookup1",
						"select1, select2 union(byName: true)~> union1",
						"union1 sink(allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     input(",
						"          ID_Hecho as integer,",
						"          FechaKey as integer,",
						"          CI_Beneficiaria as string,",
						"          ID_Tipo_Evento as integer,",
						"          ID_Paquete as integer,",
						"          ID_Establecimiento as integer,",
						"          Monto_Efectivo_Bs as decimal(10,2),",
						"          Peso_Entregado_Kg as decimal(10,2),",
						"          Lote_Produccion as string,",
						"          Estado as string",
						"     ),",
						"     deletable:false,",
						"     insertable:true,",
						"     updateable:false,",
						"     upsertable:false,",
						"     format: 'table',",
						"     skipDuplicateMapInputs: true,",
						"     skipDuplicateMapOutputs: true,",
						"     errorHandlingOption: 'stopOnFirstError') ~> sink1"
					]
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/DS_Silver_BJA_Pagos')]",
				"[concat(variables('factoryId'), '/datasets/DS_Silver_SUP_Entregas')]",
				"[concat(variables('factoryId'), '/datasets/DS_Silver_SUP_Establecimientos')]",
				"[concat(variables('factoryId'), '/datasets/DS_Gold_Fact_Beneficios_Entregados')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/DF_Silver_BJA_ControlesPediatricos')]",
			"type": "Microsoft.DataFactory/factories/dataflows",
			"apiVersion": "2018-06-01",
			"properties": {
				"folder": {
					"name": "bronze_to_silver/BJA"
				},
				"type": "MappingDataFlow",
				"typeProperties": {
					"sources": [
						{
							"dataset": {
								"referenceName": "DS_Bronze_BJA_ControlesPediatricos",
								"type": "DatasetReference"
							},
							"name": "source1"
						}
					],
					"sinks": [
						{
							"dataset": {
								"referenceName": "DS_Silver_BJA_ControlesPediatricos",
								"type": "DatasetReference"
							},
							"name": "sink1"
						}
					],
					"transformations": [
						{
							"name": "derivedColumn1"
						},
						{
							"name": "select1"
						}
					],
					"scriptLines": [
						"source(output(",
						"          control_pediatrico_id as string,",
						"          ci_nino as string,",
						"          ci_madre as string,",
						"          establecimiento_id as string,",
						"          nro_control as string,",
						"          fecha_control as string,",
						"          peso_nino_kg as string,",
						"          talla_nino_cm as string,",
						"          vacuna_aplicada as string,",
						"          resultado as string",
						"     ),",
						"     allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     ignoreNoFilesFound: false) ~> source1",
						"source1 derive(fecha_control = toDate(fecha_control, 'yyyy-MM-dd'),",
						"          nro_control = toInteger(nro_control),",
						"          peso_nino_kg = toDecimal(peso_nino_kg),",
						"          talla_nino_cm = toDecimal(talla_nino_cm),",
						"          resultado = upper(trim(resultado))) ~> derivedColumn1",
						"derivedColumn1 select(mapColumn(",
						"          control_pediatrico_id,",
						"          ci_nino,",
						"          ci_madre,",
						"          establecimiento_id,",
						"          nro_control,",
						"          fecha_control,",
						"          peso_nino_kg,",
						"          talla_nino_cm,",
						"          vacuna_aplicada,",
						"          resultado",
						"     ),",
						"     skipDuplicateMapInputs: true,",
						"     skipDuplicateMapOutputs: true) ~> select1",
						"select1 sink(allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     input(",
						"          control_pediatrico_id as string,",
						"          ci_nino as string,",
						"          ci_madre as string,",
						"          establecimiento_id as string,",
						"          nro_control as integer,",
						"          fecha_control as date,",
						"          peso_nino_kg as decimal(18,2),",
						"          talla_nino_cm as decimal(18,2),",
						"          vacuna_aplicada as string,",
						"          resultado as string,",
						"          fecha_carga as timestamp",
						"     ),",
						"     deletable:false,",
						"     insertable:true,",
						"     updateable:false,",
						"     upsertable:false,",
						"     truncate:true,",
						"     format: 'table',",
						"     skipDuplicateMapInputs: true,",
						"     skipDuplicateMapOutputs: true,",
						"     errorHandlingOption: 'stopOnFirstError',",
						"     mapColumn(",
						"          control_pediatrico_id,",
						"          ci_nino,",
						"          ci_madre,",
						"          establecimiento_id,",
						"          nro_control,",
						"          fecha_control,",
						"          peso_nino_kg,",
						"          talla_nino_cm,",
						"          vacuna_aplicada,",
						"          resultado",
						"     )) ~> sink1"
					]
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/DS_Bronze_BJA_ControlesPediatricos')]",
				"[concat(variables('factoryId'), '/datasets/DS_Silver_BJA_ControlesPediatricos')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/DF_Silver_BJA_ControlesPrenatales')]",
			"type": "Microsoft.DataFactory/factories/dataflows",
			"apiVersion": "2018-06-01",
			"properties": {
				"folder": {
					"name": "bronze_to_silver/BJA"
				},
				"type": "MappingDataFlow",
				"typeProperties": {
					"sources": [
						{
							"dataset": {
								"referenceName": "DS_Bronze_BJA_ControlesPrenatales",
								"type": "DatasetReference"
							},
							"name": "source1"
						}
					],
					"sinks": [
						{
							"dataset": {
								"referenceName": "DS_Silver_BJA_ControlesPrenatales",
								"type": "DatasetReference"
							},
							"name": "sink1"
						}
					],
					"transformations": [
						{
							"name": "derivedColumn1"
						},
						{
							"name": "select1"
						}
					],
					"scriptLines": [
						"source(output(",
						"          control_prenatal_id as string,",
						"          ci_beneficiaria as string,",
						"          establecimiento_id as string,",
						"          nro_control as string,",
						"          fecha_control as string,",
						"          semana_gestacion as string,",
						"          peso_madre_kg as string,",
						"          presion_arterial as string,",
						"          resultado as string",
						"     ),",
						"     allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     ignoreNoFilesFound: false) ~> source1",
						"source1 derive(fecha_control = toDate(fecha_control, 'yyyy-MM-dd'),",
						"          nro_control = toInteger(nro_control),",
						"          semana_gestacion = toInteger(semana_gestacion),",
						"          peso_madre_kg = toDecimal(peso_madre_kg),",
						"          resultado = upper(trim(resultado))) ~> derivedColumn1",
						"derivedColumn1 select(mapColumn(",
						"          control_prenatal_id,",
						"          ci_beneficiaria,",
						"          establecimiento_id,",
						"          nro_control,",
						"          fecha_control,",
						"          semana_gestacion,",
						"          peso_madre_kg,",
						"          presion_arterial,",
						"          resultado",
						"     ),",
						"     skipDuplicateMapInputs: true,",
						"     skipDuplicateMapOutputs: true) ~> select1",
						"select1 sink(allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     input(",
						"          control_prenatal_id as string,",
						"          ci_beneficiaria as string,",
						"          establecimiento_id as string,",
						"          nro_control as integer,",
						"          fecha_control as date,",
						"          semana_gestacion as integer,",
						"          peso_madre_kg as decimal(18,2),",
						"          presion_arterial as string,",
						"          resultado as string,",
						"          fecha_carga as timestamp",
						"     ),",
						"     deletable:false,",
						"     insertable:true,",
						"     updateable:false,",
						"     upsertable:false,",
						"     truncate:true,",
						"     format: 'table',",
						"     skipDuplicateMapInputs: true,",
						"     skipDuplicateMapOutputs: true,",
						"     errorHandlingOption: 'stopOnFirstError',",
						"     mapColumn(",
						"          control_prenatal_id,",
						"          ci_beneficiaria,",
						"          establecimiento_id,",
						"          nro_control,",
						"          fecha_control,",
						"          semana_gestacion,",
						"          peso_madre_kg,",
						"          presion_arterial,",
						"          resultado",
						"     )) ~> sink1"
					]
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/DS_Bronze_BJA_ControlesPrenatales')]",
				"[concat(variables('factoryId'), '/datasets/DS_Silver_BJA_ControlesPrenatales')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/DF_Silver_BJA_Establecimientos')]",
			"type": "Microsoft.DataFactory/factories/dataflows",
			"apiVersion": "2018-06-01",
			"properties": {
				"folder": {
					"name": "bronze_to_silver/BJA"
				},
				"type": "MappingDataFlow",
				"typeProperties": {
					"sources": [
						{
							"dataset": {
								"referenceName": "DS_Bronze_BJA_Establecimientos",
								"type": "DatasetReference"
							},
							"name": "source1"
						}
					],
					"sinks": [
						{
							"dataset": {
								"referenceName": "DS_Silver_BJA_Establecimientos",
								"type": "DatasetReference"
							},
							"name": "sink1"
						}
					],
					"transformations": [
						{
							"name": "derivedColumn1"
						},
						{
							"name": "select1"
						}
					],
					"scriptLines": [
						"source(output(",
						"          establecimiento_id as string,",
						"          codigo_snis as string,",
						"          nombre as string,",
						"          tipo as string,",
						"          nivel_atencion as string,",
						"          municipio as string,",
						"          departamento as string,",
						"          red_salud as string,",
						"          estado as string",
						"     ),",
						"     allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     ignoreNoFilesFound: false) ~> source1",
						"source1 derive(nombre = upper(trim(nombre)),",
						"          municipio = upper(trim(municipio)),",
						"          estado = upper(trim(estado))) ~> derivedColumn1",
						"derivedColumn1 select(mapColumn(",
						"          establecimiento_id,",
						"          codigo_snis,",
						"          nombre,",
						"          tipo,",
						"          nivel_atencion,",
						"          municipio,",
						"          departamento,",
						"          red_salud,",
						"          estado",
						"     ),",
						"     skipDuplicateMapInputs: true,",
						"     skipDuplicateMapOutputs: true) ~> select1",
						"select1 sink(allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     input(",
						"          establecimiento_id as string,",
						"          codigo_snis as string,",
						"          nombre as string,",
						"          tipo as string,",
						"          nivel_atencion as string,",
						"          municipio as string,",
						"          departamento as string,",
						"          red_salud as string,",
						"          estado as string,",
						"          fecha_carga as timestamp",
						"     ),",
						"     deletable:false,",
						"     insertable:true,",
						"     updateable:false,",
						"     upsertable:false,",
						"     truncate:true,",
						"     format: 'table',",
						"     skipDuplicateMapInputs: true,",
						"     skipDuplicateMapOutputs: true,",
						"     errorHandlingOption: 'stopOnFirstError',",
						"     mapColumn(",
						"          establecimiento_id,",
						"          codigo_snis,",
						"          nombre,",
						"          tipo,",
						"          nivel_atencion,",
						"          municipio,",
						"          departamento,",
						"          red_salud,",
						"          estado",
						"     )) ~> sink1"
					]
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/DS_Bronze_BJA_Establecimientos')]",
				"[concat(variables('factoryId'), '/datasets/DS_Silver_BJA_Establecimientos')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/DF_Silver_BJA_Inscripciones')]",
			"type": "Microsoft.DataFactory/factories/dataflows",
			"apiVersion": "2018-06-01",
			"properties": {
				"folder": {
					"name": "bronze_to_silver/BJA"
				},
				"type": "MappingDataFlow",
				"typeProperties": {
					"sources": [
						{
							"dataset": {
								"referenceName": "DS_Bronze_BJA_Inscripciones",
								"type": "DatasetReference"
							},
							"name": "source1"
						}
					],
					"sinks": [
						{
							"dataset": {
								"referenceName": "DS_Silver_BJA_Inscripciones",
								"type": "DatasetReference"
							},
							"name": "sink1"
						}
					],
					"transformations": [
						{
							"name": "derivedColumn1"
						},
						{
							"name": "select1"
						}
					],
					"scriptLines": [
						"source(output(",
						"          inscripcion_id as string,",
						"          ci_beneficiaria as string,",
						"          establecimiento_id as string,",
						"          fecha_inscripcion as string,",
						"          semana_gestacion as string,",
						"          estado as string",
						"     ),",
						"     allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     ignoreNoFilesFound: false) ~> source1",
						"source1 derive(fecha_inscripcion = toDate(fecha_inscripcion, 'yyyy-MM-dd'),",
						"          semana_gestacion = toInteger(semana_gestacion),",
						"          estado = upper(trim(estado))) ~> derivedColumn1",
						"derivedColumn1 select(mapColumn(",
						"          inscripcion_id,",
						"          ci_beneficiaria,",
						"          establecimiento_id,",
						"          fecha_inscripcion,",
						"          semana_gestacion,",
						"          estado",
						"     ),",
						"     skipDuplicateMapInputs: true,",
						"     skipDuplicateMapOutputs: true) ~> select1",
						"select1 sink(allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     input(",
						"          inscripcion_id as string,",
						"          ci_beneficiaria as string,",
						"          establecimiento_id as string,",
						"          fecha_inscripcion as date,",
						"          semana_gestacion as integer,",
						"          estado as string,",
						"          fecha_carga as timestamp",
						"     ),",
						"     deletable:false,",
						"     insertable:true,",
						"     updateable:false,",
						"     upsertable:false,",
						"     truncate:true,",
						"     format: 'table',",
						"     skipDuplicateMapInputs: true,",
						"     skipDuplicateMapOutputs: true,",
						"     errorHandlingOption: 'stopOnFirstError',",
						"     mapColumn(",
						"          inscripcion_id,",
						"          ci_beneficiaria,",
						"          establecimiento_id,",
						"          fecha_inscripcion,",
						"          semana_gestacion,",
						"          estado",
						"     )) ~> sink1"
					]
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/DS_Bronze_BJA_Inscripciones')]",
				"[concat(variables('factoryId'), '/datasets/DS_Silver_BJA_Inscripciones')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/DF_Silver_BJA_Pagos')]",
			"type": "Microsoft.DataFactory/factories/dataflows",
			"apiVersion": "2018-06-01",
			"properties": {
				"folder": {
					"name": "bronze_to_silver/BJA"
				},
				"type": "MappingDataFlow",
				"typeProperties": {
					"sources": [
						{
							"dataset": {
								"referenceName": "DS_Bronze_BJA_Pagos",
								"type": "DatasetReference"
							},
							"name": "source1"
						}
					],
					"sinks": [
						{
							"dataset": {
								"referenceName": "DS_Silver_BJA_Pagos",
								"type": "DatasetReference"
							},
							"name": "sink1"
						}
					],
					"transformations": [
						{
							"name": "derivedColumn1"
						},
						{
							"name": "select1"
						}
					],
					"scriptLines": [
						"source(output(",
						"          pago_id as string,",
						"          ci_beneficiaria as string,",
						"          concepto_pago as string,",
						"          monto_bs as string,",
						"          fecha_pago as string,",
						"          estado_pago as string,",
						"          canal_pago as string,",
						"          nro_comprobante as string",
						"     ),",
						"     allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     ignoreNoFilesFound: false) ~> source1",
						"source1 derive(fecha_pago = toDate(fecha_pago, 'yyyy-MM-dd'),",
						"          monto_bs = toDecimal(monto_bs),",
						"          estado_pago = upper(trim(estado_pago))) ~> derivedColumn1",
						"derivedColumn1 select(mapColumn(",
						"          pago_id,",
						"          ci_beneficiaria,",
						"          concepto_pago,",
						"          monto_bs,",
						"          fecha_pago,",
						"          estado_pago,",
						"          canal_pago,",
						"          nro_comprobante",
						"     ),",
						"     skipDuplicateMapInputs: true,",
						"     skipDuplicateMapOutputs: true) ~> select1",
						"select1 sink(allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     input(",
						"          pago_id as string,",
						"          ci_beneficiaria as string,",
						"          concepto_pago as string,",
						"          monto_bs as decimal(18,2),",
						"          fecha_pago as date,",
						"          estado_pago as string,",
						"          canal_pago as string,",
						"          nro_comprobante as string,",
						"          fecha_carga as timestamp",
						"     ),",
						"     deletable:false,",
						"     insertable:true,",
						"     updateable:false,",
						"     upsertable:false,",
						"     truncate:true,",
						"     format: 'table',",
						"     skipDuplicateMapInputs: true,",
						"     skipDuplicateMapOutputs: true,",
						"     errorHandlingOption: 'stopOnFirstError',",
						"     mapColumn(",
						"          pago_id,",
						"          ci_beneficiaria,",
						"          concepto_pago,",
						"          monto_bs,",
						"          fecha_pago,",
						"          estado_pago,",
						"          canal_pago,",
						"          nro_comprobante",
						"     )) ~> sink1"
					]
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/DS_Bronze_BJA_Pagos')]",
				"[concat(variables('factoryId'), '/datasets/DS_Silver_BJA_Pagos')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/DF_Silver_BJA_Partos')]",
			"type": "Microsoft.DataFactory/factories/dataflows",
			"apiVersion": "2018-06-01",
			"properties": {
				"folder": {
					"name": "bronze_to_silver/BJA"
				},
				"type": "MappingDataFlow",
				"typeProperties": {
					"sources": [
						{
							"dataset": {
								"referenceName": "DS_Bronze_BJA_Partos",
								"type": "DatasetReference"
							},
							"name": "source1"
						}
					],
					"sinks": [
						{
							"dataset": {
								"referenceName": "DS_Silver_BJA_Partos",
								"type": "DatasetReference"
							},
							"name": "sink1"
						}
					],
					"transformations": [
						{
							"name": "derivedColumn1"
						},
						{
							"name": "select1"
						}
					],
					"scriptLines": [
						"source(output(",
						"          parto_id as string,",
						"          ci_madre as string,",
						"          ci_recien_nacido as string,",
						"          establecimiento_id as string,",
						"          fecha_parto as string,",
						"          tipo_parto as string,",
						"          peso_nacimiento_kg as string,",
						"          talla_nacimiento_cm as string",
						"     ),",
						"     allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     ignoreNoFilesFound: false) ~> source1",
						"source1 derive(fecha_parto = toDate(fecha_parto, 'yyyy-MM-dd'),",
						"          peso_nacimiento_kg = toDecimal(peso_nacimiento_kg),",
						"          talla_nacimiento_cm = toDecimal(talla_nacimiento_cm),",
						"          tipo_parto = upper(trim(tipo_parto))) ~> derivedColumn1",
						"derivedColumn1 select(mapColumn(",
						"          parto_id,",
						"          ci_madre,",
						"          ci_recien_nacido,",
						"          establecimiento_id,",
						"          fecha_parto,",
						"          tipo_parto,",
						"          peso_nacimiento_kg,",
						"          talla_nacimiento_cm",
						"     ),",
						"     skipDuplicateMapInputs: true,",
						"     skipDuplicateMapOutputs: true) ~> select1",
						"select1 sink(allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     input(",
						"          parto_id as string,",
						"          ci_madre as string,",
						"          ci_recien_nacido as string,",
						"          establecimiento_id as string,",
						"          fecha_parto as date,",
						"          tipo_parto as string,",
						"          peso_nacimiento_kg as decimal(18,2),",
						"          talla_nacimiento_cm as decimal(18,2),",
						"          fecha_carga as timestamp",
						"     ),",
						"     deletable:false,",
						"     insertable:true,",
						"     updateable:false,",
						"     upsertable:false,",
						"     truncate:true,",
						"     format: 'table',",
						"     skipDuplicateMapInputs: true,",
						"     skipDuplicateMapOutputs: true,",
						"     errorHandlingOption: 'stopOnFirstError',",
						"     mapColumn(",
						"          parto_id,",
						"          ci_madre,",
						"          ci_recien_nacido,",
						"          establecimiento_id,",
						"          fecha_parto,",
						"          tipo_parto,",
						"          peso_nacimiento_kg,",
						"          talla_nacimiento_cm",
						"     )) ~> sink1"
					]
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/DS_Bronze_BJA_Partos')]",
				"[concat(variables('factoryId'), '/datasets/DS_Silver_BJA_Partos')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/DF_Silver_SEGIP_Personas')]",
			"type": "Microsoft.DataFactory/factories/dataflows",
			"apiVersion": "2018-06-01",
			"properties": {
				"folder": {
					"name": "bronze_to_silver/SEGIP"
				},
				"type": "MappingDataFlow",
				"typeProperties": {
					"sources": [
						{
							"dataset": {
								"referenceName": "DS_Bronze_SEGIP_Personas",
								"type": "DatasetReference"
							},
							"name": "source1"
						}
					],
					"sinks": [
						{
							"dataset": {
								"referenceName": "DS_Silver_SEGIP_Personas",
								"type": "DatasetReference"
							},
							"name": "sink1"
						}
					],
					"transformations": [
						{
							"name": "derivedColumn1"
						},
						{
							"name": "select1"
						}
					],
					"scriptLines": [
						"source(output(",
						"          ci as string,",
						"          nombres as string,",
						"          apellido_paterno as string,",
						"          apellido_materno as string,",
						"          fecha_nacimiento as string,",
						"          genero as string,",
						"          estado_civil as string,",
						"          ci_conyuge as string,",
						"          numero_hijos as string,",
						"          ci_padre as string,",
						"          ci_madre as string,",
						"          profesion as string,",
						"          nivel_estudios as string,",
						"          municipio_residencia as string,",
						"          fecha_emision as string",
						"     ),",
						"     allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     ignoreNoFilesFound: false) ~> source1",
						"source1 derive(nombres = upper(trim(nombres)),",
						"          apellido_paterno = upper(trim(apellido_paterno)),",
						"          municipio_residencia = upper(trim(iifNull(municipio_residencia, 'NO REGISTRADO'))),",
						"          ci_conyuge = iifNull(ci_conyuge, 'SIN REGISTRO'),",
						"          estado_civil = upper(trim(iifNull(estado_civil, 'SOLTERO'))),",
						"          numero_hijos = toInteger(iifNull(numero_hijos, '0')),",
						"          fecha_nacimiento = toDate(fecha_nacimiento, 'yyyy-MM-dd'),",
						"          fecha_emision = toDate(fecha_emision, 'yyyy-MM-dd')) ~> derivedColumn1",
						"derivedColumn1 select(mapColumn(",
						"          ci,",
						"          nombres,",
						"          apellido_paterno,",
						"          apellido_materno,",
						"          fecha_nacimiento,",
						"          genero,",
						"          estado_civil,",
						"          ci_conyuge,",
						"          numero_hijos,",
						"          ci_padre,",
						"          ci_madre,",
						"          profesion,",
						"          nivel_estudios,",
						"          municipio_residencia,",
						"          fecha_emision",
						"     ),",
						"     skipDuplicateMapInputs: true,",
						"     skipDuplicateMapOutputs: true) ~> select1",
						"select1 sink(allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     input(",
						"          ci as string,",
						"          nombres as string,",
						"          apellido_paterno as string,",
						"          apellido_materno as string,",
						"          fecha_nacimiento as date,",
						"          genero as string,",
						"          estado_civil as string,",
						"          ci_conyuge as string,",
						"          numero_hijos as integer,",
						"          ci_padre as string,",
						"          ci_madre as string,",
						"          profesion as string,",
						"          nivel_estudios as string,",
						"          municipio_residencia as string,",
						"          fecha_emision as date,",
						"          fecha_carga as timestamp",
						"     ),",
						"     deletable:false,",
						"     insertable:true,",
						"     updateable:false,",
						"     upsertable:false,",
						"     truncate:true,",
						"     format: 'table',",
						"     skipDuplicateMapInputs: true,",
						"     skipDuplicateMapOutputs: true,",
						"     errorHandlingOption: 'stopOnFirstError',",
						"     mapColumn(",
						"          ci,",
						"          nombres,",
						"          apellido_paterno,",
						"          apellido_materno,",
						"          fecha_nacimiento,",
						"          genero,",
						"          estado_civil,",
						"          ci_conyuge,",
						"          numero_hijos,",
						"          ci_padre,",
						"          ci_madre,",
						"          profesion,",
						"          nivel_estudios,",
						"          municipio_residencia,",
						"          fecha_emision",
						"     )) ~> sink1"
					]
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/DS_Bronze_SEGIP_Personas')]",
				"[concat(variables('factoryId'), '/datasets/DS_Silver_SEGIP_Personas')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/DF_Silver_SUP_Boletas')]",
			"type": "Microsoft.DataFactory/factories/dataflows",
			"apiVersion": "2018-06-01",
			"properties": {
				"folder": {
					"name": "bronze_to_silver/SUP"
				},
				"type": "MappingDataFlow",
				"typeProperties": {
					"sources": [
						{
							"dataset": {
								"referenceName": "DS_Bronze_SUP_Boletas",
								"type": "DatasetReference"
							},
							"name": "source1"
						}
					],
					"sinks": [
						{
							"dataset": {
								"referenceName": "DS_Silver_SUP_Boletas",
								"type": "DatasetReference"
							},
							"name": "sink1"
						}
					],
					"transformations": [
						{
							"name": "derivedColumn1"
						},
						{
							"name": "select1"
						}
					],
					"scriptLines": [
						"source(output(",
						"          boleta_id as string,",
						"          control_id as string,",
						"          ci_beneficiaria as string,",
						"          nro_boleta as string,",
						"          fecha_emision as string,",
						"          estado as string",
						"     ),",
						"     allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     ignoreNoFilesFound: false) ~> source1",
						"source1 derive(fecha_emision = toDate(fecha_emision, 'yyyy-MM-dd'),",
						"          estado = upper(trim(estado))) ~> derivedColumn1",
						"derivedColumn1 select(mapColumn(",
						"          boleta_id,",
						"          control_id,",
						"          ci_beneficiaria,",
						"          nro_boleta,",
						"          fecha_emision,",
						"          estado",
						"     ),",
						"     skipDuplicateMapInputs: true,",
						"     skipDuplicateMapOutputs: true) ~> select1",
						"select1 sink(allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     input(",
						"          boleta_id as string,",
						"          control_id as string,",
						"          ci_beneficiaria as string,",
						"          nro_boleta as string,",
						"          fecha_emision as date,",
						"          estado as string,",
						"          fecha_carga as timestamp",
						"     ),",
						"     deletable:false,",
						"     insertable:true,",
						"     updateable:false,",
						"     upsertable:false,",
						"     truncate:true,",
						"     format: 'table',",
						"     skipDuplicateMapInputs: true,",
						"     skipDuplicateMapOutputs: true,",
						"     errorHandlingOption: 'stopOnFirstError',",
						"     mapColumn(",
						"          boleta_id,",
						"          control_id,",
						"          ci_beneficiaria,",
						"          nro_boleta,",
						"          fecha_emision,",
						"          estado",
						"     )) ~> sink1"
					]
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/DS_Bronze_SUP_Boletas')]",
				"[concat(variables('factoryId'), '/datasets/DS_Silver_SUP_Boletas')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/DF_Silver_SUP_CatalogoPaquetes')]",
			"type": "Microsoft.DataFactory/factories/dataflows",
			"apiVersion": "2018-06-01",
			"properties": {
				"folder": {
					"name": "bronze_to_silver/SUP"
				},
				"type": "MappingDataFlow",
				"typeProperties": {
					"sources": [
						{
							"dataset": {
								"referenceName": "DS_Bronze_SUP_CatalogoPaquetes",
								"type": "DatasetReference"
							},
							"name": "source1"
						}
					],
					"sinks": [
						{
							"dataset": {
								"referenceName": "DS_Silver_SUP_CatalogoPaquetes",
								"type": "DatasetReference"
							},
							"name": "sink1"
						}
					],
					"transformations": [
						{
							"name": "derivedColumn1"
						},
						{
							"name": "select1"
						}
					],
					"scriptLines": [
						"source(output(",
						"          paquete_id as string,",
						"          nombre as string,",
						"          contenido as string,",
						"          peso_estandar_kg as string,",
						"          costo_estimado_bs as string",
						"     ),",
						"     allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     ignoreNoFilesFound: false) ~> source1",
						"source1 derive(peso_estandar_kg = toDecimal(peso_estandar_kg),",
						"          costo_estimado_bs = toDecimal(costo_estimado_bs)) ~> derivedColumn1",
						"derivedColumn1 select(mapColumn(",
						"          paquete_id,",
						"          nombre,",
						"          contenido,",
						"          peso_estandar_kg,",
						"          costo_estimado_bs",
						"     ),",
						"     skipDuplicateMapInputs: true,",
						"     skipDuplicateMapOutputs: true) ~> select1",
						"select1 sink(allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     input(",
						"          paquete_id as string,",
						"          nombre as string,",
						"          contenido as string,",
						"          peso_estandar_kg as decimal(18,2),",
						"          costo_estimado_bs as decimal(18,2),",
						"          fecha_carga as timestamp",
						"     ),",
						"     deletable:false,",
						"     insertable:true,",
						"     updateable:false,",
						"     upsertable:false,",
						"     truncate:true,",
						"     format: 'table',",
						"     skipDuplicateMapInputs: true,",
						"     skipDuplicateMapOutputs: true,",
						"     errorHandlingOption: 'stopOnFirstError',",
						"     mapColumn(",
						"          paquete_id,",
						"          nombre,",
						"          contenido,",
						"          peso_estandar_kg,",
						"          costo_estimado_bs",
						"     )) ~> sink1"
					]
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/DS_Bronze_SUP_CatalogoPaquetes')]",
				"[concat(variables('factoryId'), '/datasets/DS_Silver_SUP_CatalogoPaquetes')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/DF_Silver_SUP_Controles')]",
			"type": "Microsoft.DataFactory/factories/dataflows",
			"apiVersion": "2018-06-01",
			"properties": {
				"folder": {
					"name": "bronze_to_silver/SUP"
				},
				"type": "MappingDataFlow",
				"typeProperties": {
					"sources": [
						{
							"dataset": {
								"referenceName": "DS_Bronze_SUP_Controles",
								"type": "DatasetReference"
							},
							"name": "source1"
						}
					],
					"sinks": [
						{
							"dataset": {
								"referenceName": "DS_Silver_SUP_Controles",
								"type": "DatasetReference"
							},
							"name": "sink1"
						}
					],
					"transformations": [
						{
							"name": "derivedColumn1"
						},
						{
							"name": "select1"
						}
					],
					"scriptLines": [
						"source(output(",
						"          control_id as string,",
						"          ci_beneficiaria as string,",
						"          establecimiento_id as string,",
						"          nro_control as string,",
						"          fecha_control as string,",
						"          semana_gestacion as string,",
						"          peso_madre_kg as string,",
						"          presion_arterial as string",
						"     ),",
						"     allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     ignoreNoFilesFound: false) ~> source1",
						"source1 derive(fecha_control = toDate(fecha_control, 'yyyy-MM-dd'),",
						"          nro_control = toInteger(nro_control),",
						"          semana_gestacion = toInteger(semana_gestacion),",
						"          peso_madre_kg = toDecimal(peso_madre_kg)) ~> derivedColumn1",
						"derivedColumn1 select(mapColumn(",
						"          control_id,",
						"          ci_beneficiaria,",
						"          establecimiento_id,",
						"          nro_control,",
						"          fecha_control,",
						"          semana_gestacion,",
						"          peso_madre_kg,",
						"          presion_arterial",
						"     ),",
						"     skipDuplicateMapInputs: true,",
						"     skipDuplicateMapOutputs: true) ~> select1",
						"select1 sink(allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     input(",
						"          control_id as string,",
						"          ci_beneficiaria as string,",
						"          establecimiento_id as string,",
						"          nro_control as integer,",
						"          fecha_control as date,",
						"          semana_gestacion as integer,",
						"          peso_madre_kg as decimal(18,2),",
						"          presion_arterial as string,",
						"          fecha_carga as timestamp",
						"     ),",
						"     deletable:false,",
						"     insertable:true,",
						"     updateable:false,",
						"     upsertable:false,",
						"     truncate:true,",
						"     format: 'table',",
						"     skipDuplicateMapInputs: true,",
						"     skipDuplicateMapOutputs: true,",
						"     errorHandlingOption: 'stopOnFirstError',",
						"     mapColumn(",
						"          control_id,",
						"          ci_beneficiaria,",
						"          establecimiento_id,",
						"          nro_control,",
						"          fecha_control,",
						"          semana_gestacion,",
						"          peso_madre_kg,",
						"          presion_arterial",
						"     )) ~> sink1"
					]
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/DS_Bronze_SUP_Controles')]",
				"[concat(variables('factoryId'), '/datasets/DS_Silver_SUP_Controles')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/DF_Silver_SUP_Entregas')]",
			"type": "Microsoft.DataFactory/factories/dataflows",
			"apiVersion": "2018-06-01",
			"properties": {
				"folder": {
					"name": "bronze_to_silver/SUP"
				},
				"type": "MappingDataFlow",
				"typeProperties": {
					"sources": [
						{
							"dataset": {
								"referenceName": "DS_Bronze_SUP_Entregas",
								"type": "DatasetReference"
							},
							"name": "source1"
						}
					],
					"sinks": [
						{
							"dataset": {
								"referenceName": "DS_Silver_SUP_Entregas",
								"type": "DatasetReference"
							},
							"name": "sink1"
						}
					],
					"transformations": [
						{
							"name": "derivedColumn1"
						},
						{
							"name": "select1"
						}
					],
					"scriptLines": [
						"source(output(",
						"          entrega_id as string,",
						"          boleta_id as string,",
						"          ci_beneficiaria as string,",
						"          establecimiento_id as string,",
						"          paquete_id as string,",
						"          paquete_nombre as string,",
						"          fecha_entrega as string,",
						"          lote_produccion as string,",
						"          peso_paquete_kg as string,",
						"          fecha_proxima_entrega as string",
						"     ),",
						"     allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     ignoreNoFilesFound: false) ~> source1",
						"source1 derive(fecha_entrega = toDate(fecha_entrega, 'yyyy-MM-dd'),",
						"          fecha_proxima_entrega = toDate(fecha_proxima_entrega, 'yyyy-MM-dd'),",
						"          peso_paquete_kg = toDecimal(peso_paquete_kg),",
						"          lote_produccion = iifNull(lote_produccion, 'SIN LOTE')) ~> derivedColumn1",
						"derivedColumn1 select(mapColumn(",
						"          entrega_id,",
						"          boleta_id,",
						"          ci_beneficiaria,",
						"          establecimiento_id,",
						"          paquete_id,",
						"          paquete_nombre,",
						"          fecha_entrega,",
						"          lote_produccion,",
						"          peso_paquete_kg,",
						"          fecha_proxima_entrega",
						"     ),",
						"     skipDuplicateMapInputs: true,",
						"     skipDuplicateMapOutputs: true) ~> select1",
						"select1 sink(allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     input(",
						"          entrega_id as string,",
						"          boleta_id as string,",
						"          ci_beneficiaria as string,",
						"          establecimiento_id as string,",
						"          paquete_id as string,",
						"          paquete_nombre as string,",
						"          fecha_entrega as date,",
						"          lote_produccion as string,",
						"          peso_paquete_kg as decimal(18,2),",
						"          fecha_proxima_entrega as date,",
						"          fecha_carga as timestamp",
						"     ),",
						"     deletable:false,",
						"     insertable:true,",
						"     updateable:false,",
						"     upsertable:false,",
						"     truncate:true,",
						"     format: 'table',",
						"     skipDuplicateMapInputs: true,",
						"     skipDuplicateMapOutputs: true,",
						"     errorHandlingOption: 'stopOnFirstError',",
						"     mapColumn(",
						"          entrega_id,",
						"          boleta_id,",
						"          ci_beneficiaria,",
						"          establecimiento_id,",
						"          paquete_id,",
						"          paquete_nombre,",
						"          fecha_entrega,",
						"          lote_produccion,",
						"          peso_paquete_kg,",
						"          fecha_proxima_entrega",
						"     )) ~> sink1"
					]
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/DS_Bronze_SUP_Entregas')]",
				"[concat(variables('factoryId'), '/datasets/DS_Silver_SUP_Entregas')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/DF_Silver_SUP_Establecimientos')]",
			"type": "Microsoft.DataFactory/factories/dataflows",
			"apiVersion": "2018-06-01",
			"properties": {
				"folder": {
					"name": "bronze_to_silver/SUP"
				},
				"type": "MappingDataFlow",
				"typeProperties": {
					"sources": [
						{
							"dataset": {
								"referenceName": "DS_Bronze_SUP_Establecimientos",
								"type": "DatasetReference"
							},
							"name": "source1"
						}
					],
					"sinks": [
						{
							"dataset": {
								"referenceName": "DS_Silver_SUP_Establecimientos",
								"type": "DatasetReference"
							},
							"name": "sink1"
						}
					],
					"transformations": [
						{
							"name": "derivedColumn1"
						},
						{
							"name": "select1"
						}
					],
					"scriptLines": [
						"source(output(",
						"          establecimiento_id as string,",
						"          codigo_snis as string,",
						"          nombre as string,",
						"          tipo as string,",
						"          nivel_atencion as string,",
						"          municipio as string,",
						"          departamento as string,",
						"          red_salud as string,",
						"          estado as string",
						"     ),",
						"     allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     ignoreNoFilesFound: false) ~> source1",
						"source1 derive(nombre = upper(trim(nombre)),",
						"          municipio = upper(trim(municipio)),",
						"          columna1 = upper(trim(estado))) ~> derivedColumn1",
						"derivedColumn1 select(mapColumn(",
						"          establecimiento_id,",
						"          codigo_snis,",
						"          nombre,",
						"          tipo,",
						"          nivel_atencion,",
						"          municipio,",
						"          departamento,",
						"          red_salud,",
						"          estado,",
						"          columna1",
						"     ),",
						"     skipDuplicateMapInputs: true,",
						"     skipDuplicateMapOutputs: true) ~> select1",
						"select1 sink(allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     input(",
						"          establecimiento_id as string,",
						"          codigo_snis as string,",
						"          nombre as string,",
						"          tipo as string,",
						"          nivel_atencion as string,",
						"          municipio as string,",
						"          departamento as string,",
						"          red_salud as string,",
						"          estado as string,",
						"          fecha_carga as timestamp",
						"     ),",
						"     deletable:false,",
						"     insertable:true,",
						"     updateable:false,",
						"     upsertable:false,",
						"     truncate:true,",
						"     format: 'table',",
						"     skipDuplicateMapInputs: true,",
						"     skipDuplicateMapOutputs: true,",
						"     errorHandlingOption: 'stopOnFirstError',",
						"     mapColumn(",
						"          establecimiento_id,",
						"          codigo_snis,",
						"          nombre,",
						"          tipo,",
						"          nivel_atencion,",
						"          municipio,",
						"          departamento,",
						"          red_salud,",
						"          estado",
						"     )) ~> sink1"
					]
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/DS_Bronze_SUP_Establecimientos')]",
				"[concat(variables('factoryId'), '/datasets/DS_Silver_SUP_Establecimientos')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/DF_Silver_SUP_Inscripciones')]",
			"type": "Microsoft.DataFactory/factories/dataflows",
			"apiVersion": "2018-06-01",
			"properties": {
				"folder": {
					"name": "bronze_to_silver/SUP"
				},
				"type": "MappingDataFlow",
				"typeProperties": {
					"sources": [
						{
							"dataset": {
								"referenceName": "DS_Bronze_SUP_Inscripciones",
								"type": "DatasetReference"
							},
							"name": "source1"
						}
					],
					"sinks": [
						{
							"dataset": {
								"referenceName": "DS_Silver_SUP_Inscripciones",
								"type": "DatasetReference"
							},
							"name": "sink1"
						}
					],
					"transformations": [
						{
							"name": "derivedColumn1"
						},
						{
							"name": "select1"
						}
					],
					"scriptLines": [
						"source(output(",
						"          inscripcion_id as string,",
						"          ci_beneficiaria as string,",
						"          establecimiento_id as string,",
						"          fecha_inscripcion as string,",
						"          semana_gestacion as string,",
						"          estado as string",
						"     ),",
						"     allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     ignoreNoFilesFound: false) ~> source1",
						"source1 derive(fecha_inscripcion = toDate(fecha_inscripcion, 'yyyy-MM-dd'),",
						"          semana_gestacion = toInteger(semana_gestacion),",
						"          estado = upper(trim(estado))) ~> derivedColumn1",
						"derivedColumn1 select(mapColumn(",
						"          inscripcion_id,",
						"          ci_beneficiaria,",
						"          establecimiento_id,",
						"          fecha_inscripcion,",
						"          semana_gestacion,",
						"          estado",
						"     ),",
						"     skipDuplicateMapInputs: true,",
						"     skipDuplicateMapOutputs: true) ~> select1",
						"select1 sink(allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     input(",
						"          inscripcion_id as string,",
						"          ci_beneficiaria as string,",
						"          establecimiento_id as string,",
						"          fecha_inscripcion as date,",
						"          semana_gestacion as integer,",
						"          estado as string,",
						"          fecha_carga as timestamp",
						"     ),",
						"     deletable:false,",
						"     insertable:true,",
						"     updateable:false,",
						"     upsertable:false,",
						"     truncate:true,",
						"     format: 'table',",
						"     skipDuplicateMapInputs: true,",
						"     skipDuplicateMapOutputs: true,",
						"     errorHandlingOption: 'stopOnFirstError',",
						"     mapColumn(",
						"          inscripcion_id,",
						"          ci_beneficiaria,",
						"          establecimiento_id,",
						"          fecha_inscripcion,",
						"          semana_gestacion,",
						"          estado",
						"     )) ~> sink1"
					]
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/DS_Bronze_SUP_Inscripciones')]",
				"[concat(variables('factoryId'), '/datasets/DS_Silver_SUP_Inscripciones')]"
			]
		}
	]
}